.blog-content {
    padding: 30px 30px 0;
}

.comments {

    border-top: 1px solid grey;
}

.comment-form {
    padding: 20px;
}

.comment-form form {
    margin: 30px 0;
}

.comment-form form textarea {
    margin-bottom: 0;
    width: 100%;
}

.comment-top a h5 {
    margin: 0;
}

.comment-container {
    display: flex;
    padding: 20px;
    width: auto;

    border-top: 1px solid grey;
}

.comment-container div {
    flex-grow: 1;
    margin-top: 0;
}

.comment-form, .comment-container {
    background-color: rgba(0,0,0,0.2);
}

.delete-button {
    margin-right: 20px;
}