amqp==5.2.0
billiard==4.2.0
bitwarden_sdk==0.1.0
blinker==1.8.2
boto3==1.26.102
botocore==1.29.165
celery==5.4.0
cffi==1.16.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
dateutils==0.6.12
feedgen==0.9.0
Flask==2.3.2
Flask-Cors==4.0.1
Flask-Misaka==1.0.0
flask-paginate==2022.1.8
Flask-WTF==1.2.1
gunicorn==22.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
kombu==5.3.7
lxml==5.2.2
mariadb==1.1.4
MarkupSafe==2.1.5
misaka==2.1.1
packaging==24.1
pillow==10.3.0
prompt_toolkit==3.0.47
pycparser==2.22
python-dateutil==2.9.0.post0
python-magic==0.4.27
pytz==2024.1
redis==5.0.7
s3transfer==0.6.2
setuptools==70.0.0
six==1.16.0
tzdata==2024.1
urllib3==1.26.19
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.3
WTForms==3.1.2
