boto3==1.26.102
celery[redis]==5.2.7
feedgen==0.9.0
flask==2.3.2
flask-misaka==1.0.0
flask-paginate==2022.1.8
flask-simple-captcha==1.1.1
flask-wtf==1.1.1
mariadb==1.1.4
pillow==9.4.0 # don't install this dep through pip if you are using a nix shell
python-magic==0.4.27
pylibmagic==0.4.0
werkzeug==3.0.3
