@font-face {
    font-family: "merchant-copy";
    src: url("/font/merchant_copy.woff2") format("woff2");
}

@font-face { 
    font-family: "eb-garamond-italic";
    src: url("/font/eb_garamond_italic.woff2") format("woff2");
}

@font-face {
    font-family: "lotion";
    src: url("/font/lotion.ttf") format("truetype");
}

@font-face {
    font-family: "fira-code";
    src: url("/font/fira_code.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;

    background-color: #18012D;
    color: #fefefe;
    font-family: "merchant-copy";
}

body {
    font-size: 2rem;
    height: 100%;
    min-height: 100vh;
}

a {
    all: unset;
    cursor: pointer;
    border-bottom: 1px solid #fefefe;
}

main {
    padding: 3% 5% 3%;
}

object {
    pointer-events: none;
}

form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

form input, form textarea {
    margin-bottom: 20px;
    font-size: 1.5rem;

    background-color: rgba(0,0,0,0.4);
    border: none;
    border-bottom: 1px solid grey;
    color: #fefefe;
    font-family: "lotion";
}

form textarea {
    border: 1px solid grey;
    resize: none;
    padding: 10px;
    height: fit-content;
}

form input::placeholder {
    color: #fefefe;
}

form .error {
    margin: 20px 0;
    color: red;
}

input:disabled, button:disabled, textarea:disabled {
    color: grey !important;
    opacity: 0.6 !important;
    cursor: not-allowed !important;
}

input[type=submit] {
    font-size: 2.5rem;

    font-family: "merchant-copy";
}

input[type=submit], .commentPost {
    width: min-content;
    padding: 5px 10px;

    border: 1px solid grey;
    cursor: pointer;
}

.glNav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 2.5rem;

    border: 2px solid grey;
    background-image: url("/img/vortex.gif");
}

.nav-top {
    display: flex;
    justify-content: space-between;
}

.nav-top a:hover, .nav-top a:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left a, .nav-middle a {
    margin-right: 20px;
}

.nav-left h1 {
    margin: 0;
}

.nav-middle, .nav-right {
    display: flex;
    align-items: center;
}

.nav-right a {
    margin-left: 20px;
}

.hidden {
    display: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.user {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;

    background-image: url("/img/stars.gif");
    border: 1px solid #fefefe;
}

.user object {
    width: 200px;
    height: 200px;

    border: 1px solid gray;
}

.user span {
    margin-top: 20px;
    text-align: center;
}

.user.online, .avatar.online {
    border: 1px solid lawngreen;
}

.avatar.twohundred {
    border: 2px solid #fefefe;
}

.avatar.twohundred.online {
    border: 2px solid lawngreen;
}