
main {
    padding: 0;
}

aside {
    display: flex;
    flex-direction: column;
    width: 100%;
}

aside .row {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
}

.options-container {
    display: flex;
    height: calc(100vh - 86px);
}

.options-container .categories {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    width: fit-content;
    min-width: 300px;
    padding: 20px 0 0;

    text-decoration: underline;
    background-color: rgba(0,0,0,0.2);
}

.options-container .categories span {
    padding: 20px;
    margin-bottom: 20px;

    border-bottom: none;
    color: grey;
    cursor: pointer;
}

.options-container .categories span:hover {
    background-color: black;
    color: #fefefe;
}

.options-content {
    width: 100%;
}