{% extends "/layouts/base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/page.css') }}">
{% endblock %}
{% block body %}
    <div id="container" class="container">
        <section class="profile-top">
            <img class="avatar {{ 'online' if current_time - properties['last_seen'].timestamp() | round | int <= 300 }}" src="{{ cdn_uri }}/usercontent/img/rsz/200px/{{ properties['user_id'] }}.webp" alt="">
            <div>
                <h2 id="breadCrumb" class="breadCrumb">
                    /<a href="{{ url_for('user.browse') }}">users</a>/
                    <a class="user-crumb {{'active' if request.path[6:-1] | int == properties['user_id'] | int }}" href="{{ url_for('user.page', user_id=properties['user_id']) }}">{{ properties['username'] }}</a>
                    <div class="end">
                        <div class="blog-crumb">
                            /<a class="{{ 'active' if request.path[-5:-1] == 'blog' }}" href="{{ url_for('user.blog.browse', user_id=properties['user_id']) }}">blogs</a>/
                            {% if (session.get("user_id") | int == properties['user_id'] | int) and (request.path[-5:-1] == "blog" or request.path[-4:-1] == "new") %}
                                <a class="{{ 'active' if request.path[-4:-1] == 'new' }}" href="{{ url_for('user.blog.new', user_id=properties['user_id']) }}">new</a>/
                            {% endif %}
                            {% if blogpost is defined %}
                                {% if request.path[-7:-1] == "blog/" + blogpost["blog_id"] | string %}
                                    <a class="active" href="{{ url_for('user.blog.post', user_id=properties['user_id'], post_id=blogpost['blog_id']) }}">{{ blogpost["title"] }}</a>/
                                {% endif %}
                            {% endif %}
                        </div>
                        <div>
                            /<a class="friends-crumb {{ 'active' if 'friends' in request.path }}" href="{{ url_for('user.friends', user_id=properties['user_id']) }}">friends</a>/
                        </div>
                    </div>
                </h2>
                {% if request.path[6:-1] | int == properties["user_id"] | int %}
                    <h4><span>joined: </span><i>{{ time(properties['join_date']) }}</i></h4>
                    <h4><span>last seen: </span><i>{{ time(properties['last_seen']) }}</i></h4>
                    <h4><span>views: </span><i>{{ properties['page_views'] }}</i></h4>
                {% elif request.path[-5:-1] == "blog" %}
                    {% if blogposts %}
                        <h4><span>last posted: </span><i>{{ time(blogposts[0]["date"]) }}</i></h4>
                        <h4><span>total blogs: </span><i>{{ blogposts | length }}</i></h4>
                    {% else %}
                        <h4><span>last posted: </span><i>never</i></h4>
                        <h4><span>total blogs: </span><i>0</i></h4>
                    {% endif %}
                {% elif blogpost is defined %}
                    {% if request.path[-7:-1] == "blog/" + blogpost["blog_id"] | string %}
                        <h4><span>posted: </span><i>{{ time(blogpost["date"]) }}</i></h4>
                    {% endif %}
                {% endif %}
            </div>
            {% if ("user_id") in session and session["user_id"] | int == properties["user_id"] %}
                <a class="settings" href="{{ url_for('preferences') }}">
                    <img src="{{ cdn_uri }}/static/img/gears.gif" alt="user preferences">
                </a>
            {% elif ("user_id") in session and session["user_id"] | int != properties["user_id"] %}
                {% if not is_friends %}
                    <form class="add-friend" action="{{ url_for('user.add_friend', user_id=properties['user_id']) }}" method="post" novalidate>
                        {{ friend_form.hidden_tag() }}
                        <input id="friend" name="friend" type="submit" value="send friend request">
                    </form>
                {% endif %}
            {% endif %}
        </section>
        {% block main %}
        {% endblock %}
    </div>
{% endblock %}