@font-face {
    font-family: "merchant-copy";
    src: url("../font/merchant_copy.ttf") format("truetype");
}

@font-face {
    font-family: "apple-garamond";
    src: url("../font/apple_garamond.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;

    background-color: #18012D;
    color: #fefefe;
    font-family: "merchant-copy";
}

body {
    font-size: 2rem;
    min-height: 100vh;
}

a {
    all: unset;
    cursor: pointer;
    border-bottom: 1px solid #fefefe;
}

main {
    margin: 5% 5% 0;
}

.glNav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 2.5rem;

    border: 2px solid grey;
    background-image: url("/static/img/vortex.gif");
}

.nav-top {
    display: flex;
    justify-content: space-between;
}