.navbar {
 font: small Arial;
 overflow: hidden;
 margin: 0px;
}

.glNav {
  background-color: rgba(200, 200, 0, 0.2);
}

.subNav {
  text-align: center;

}

.nav0:hover {
  opacity: 100%!important;
}

.nav0 i {
  color: lavender;
}


.subNav a, .subNav span {
  padding: 0px 8px 0px 8px;
  color:#fff;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  text-align: center;
}

header {
  border: 1px solid #281d3b;
  background-color: green;
  background-image: url('https://sys.chiyo.org/static/img/weed.jpg');
}

.navbar a:hover, .nav_right:hover {
  opacity: 60%;
}
.glNav a, .glNav span{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 8px 4px 8px;
  text-decoration: none;
}


.nav_right {
  float: right!important	;
  cursor: pointer;
}

.notif_comment {
  display: none;
}

.notif_msg {
  display: none;
}

.notif_friend {
  display: none;
}

.navbar details summary {
  display:block;
}

@keyframes newComments {  
	from {color: violet;}
	to {color: lavender;}
  }

.newComments {
  background-color: rgba(200, 200, 0, 0.2);
  animation: linear 0.1s newComments infinite alternate-reverse;
  padding:2px;
}


@keyframes newFriends {  
	from {color: yellow;}
	to {color: orange;}
  }
  
  @keyframes newMessages{
    0%{		color: lavender;	}
    50%{	color: red;	}
  }
  
  
.newFriends {
  background-color: rgba(200, 200, 0, 0.2);
  animation: linear 0.1s newFriends infinite alternate-reverse;
  padding:2px;
}

.newMessages {
  animation: linear 0.3s newMessages infinite alternate-reverse;
  background-color: rgba(200, 200, 0, 0.2);
  padding:2px;
}
.directory {
  float: left;
  padding: 4px;
}

