main {
    margin: 0;
    height: 100%;
}

.prefs-container {
    display: flex;
}

.prefs-container form {
    width: 100%;
    margin: 30px;
}

.pref-categories {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    width: fit-content;
    padding: 20px 0;

    text-decoration: underline;
    background-color: rgba(0,0,0,0.2);
}

.pref-categories a {
    padding: 20px;
    margin-bottom: 20px;

    border-bottom: none;
    color: grey;
}

.pref-categories a:hover {
    background-color: black;
    color: #fefefe;
}

aside {
    display: flex;
    flex-direction: column;
    width: 100%;
}

aside h2 {
    margin-top: 10px;
}

aside textarea {
    height: 30px;
}

.avatar-upload {
    visibility: hidden;
}

.avatar-upload-label {
    width: 200px;
    height: 200px;

    background-size: cover;
    cursor: pointer;
    border: 1px solid grey;
    color: grey;
}

.avatar-upload-label:hover {
    border: 1px solid #fefefe;
    color: #fefefe;
}

.avatar-upload-label img {
    height: 200px;
    width: 200px;
}

.avatar-upload-label span {
    position: absolute;
    margin-top: 88px;
    margin-left: 26px;

    background-color: rgba(0,0,0,0.7);
}
