body {
	image-rendering: crisp-edges;
	image-rendering: pixelated;

	background: #ffe url('https://sys.chiyo.org/img/bg.gif') top repeat-x;
	color: #3200ff;
	font-family: "Konatu"
}

.content {
	max-width: 600px;
	border: 1px #800 solid;
	background-color: #dce7c8;
}

.content a {
	color: #6d3ab4;
}

.nav {
	color: black;
	background: rgba(0, 0, 0, 0.1);
}

.nav a {
	color: black
}

.featured_posts {
	background-color: rgba(0, 0, 0, 0.1);
	margin-bottom: 16px;
}

.featured_posts img {
	width: 48px;
}

.sidebar {
	background-image: url('sidebanner.gif');
}

.userlist {
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 30px);
}

.userlist div {
	display: flex;
	background-color: rgba(200, 200, 0, 0.1)
		/* 50% opaque blue */
	;
	padding-top: 24px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.usrquery {
	float: left;
	padding-left: 16px;
}

.userlist p {
	width: 130px;
	margin: 8px 0;
	height: 60px;
	margin-top: 2%;
	display: inline-block;
	overflow-wrap: break-word;
}

.userlist p>u,
.userlist p>a,
.userlist img {
	display: block;
	color: green;
}

.userlist #username {
	width: 200px;
	margin-bottom: 8px;
}

.userlist #submit {
	width: 70px;
	margin-bottom: 8px;
}