.top {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.options {
    display: flex;
    align-content: center;
}

.options a {
    height: min-content;
    z-index: 10;
}

.top h2, .options h3 {
    margin: 0;
}

.options input[type="checkbox"] {
    margin: auto 0;
    height: 33px;
    width: 33px;
}

.users {
    display: flex;
    flex-wrap: wrap;
}

.user {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;

    background-image: url("/static/img/stars.gif");
    border: 1px solid #fefefe;
}

.user img {
    width: 200px;
    height: 200px;

    border: 1px solid gray;
}

.user span {
    margin-top: 20px;
    text-align: center;
}