<head>
	<link rel="stylesheet" href="{{cdn_uri}}/static/css/classic/style.css">
	<link rel="stylesheet" href="{{cdn_uri}}/usercontent/css/{{properties['id']}}.css">
    {% if ('user_id') in session and notification_counters %}
    <title>
        [{{notification_counters['profile_comment_approval'] + notification_counters['blog_comment_approval'] + notification_counters['friend_request_approval'] + notification_counters['unseen_message']}}]
        ChiyoNET</title>
    {%else%}
    <title>ChiyoNET</title>
    {% endif %}
	<meta name="description" content="welcome to chiyo town" />
	<meta property="og:og:title" content="ChiyoNET Online" />
	<meta property="og:type" content="website" />
	<meta id="interface-type" value="classic">
    <link rel="icon" href="{{cdn_uri}}/static/img/favicon.gif">
	<script type="text/javascript" src="{{ url_for('static', filename='js/notificationPoll.js') }}"></script>
	<meta property="og:description" content="{{properties['username']}} @ ChiyoNET Online" />
	<meta property="og:image" content="{{cdn_uri}}/usercontent/img/rsz/200px/{{properties['id']}}.gif">
	<meta property="og:url" content="https://chiyo.org/id/{{properties['id']}}">
	<meta property="og:site_name" content="ChiyoNET Online" />
</head>
<style>
</style>
<div style="" class="fixed">
    {% extends "classic/navigation.htm" %}
    {% block content %}
    <div class="usercontent">
        <center>
            <font color="#ffffff" class="fcon"><u>
                    <h2 class="name u_blogname">{{properties['username']}}'s friends</h2>
                </u></font>
        </center>
        <center>
        <div class="allFriends">
            {%for friend in friends%}
            <div class="friendReq">
                <center>
                    <div style="text-align: center;"><a href="/id/{{friend['friend']}}"><img
                                style="width: 64px;"
                                src="{{cdn_uri}}/usercontent/img/rsz/100px/{{friend['friend']}}.gif"></a><br><a
                            style="color: white;" href="/id/{{friend['friend']}}">{{friend['username']}}
                            [{{friend['friend']}}]</a></u>
                        {% if session.get('user_id')|int == properties['id']%}
                        <form method="post" action="/id/{{friend['friend']}}/remove-friend">
                            {{friend_form.hidden_tag()}}
                            <button class="deleteFriend" id="friend" name="friend" type="submit" value="remove">remove</button>
                        </form>
                        {%endif%}
                    </div>
                </center>
            </div>
            {%endfor%}
        </div>
        <br>
    </center>
    </div>
    <center>
        <font color="white"><span><a style="color:white;" href="/">index</a> //
                {% if session.get('konata') == 1 %}~konataspace~ {% else %}~marisaspace~{% endif %} //
                <font color="white"><span><a style="color:white;" href="/news">news</a></font>
    </center>
</div>
{% if session.get('konata') == 1 %}
<img style="position: absolute; right: 10px; top: 0px; width: 200px; transform: rotate(180deg);"
	src="{{ url_for('static', filename= 'img/classic/konata1.gif') }}" ) }}">
<img style="position: absolute; left: 10px; bottom: 0px; width: 200px;"
	src="{{ url_for('static', filename= 'img/classic/konata2.gif') }}" ) }}">
{% endif %}
{% endblock %}