<center>
	<table class="navigation" width="100%" height="23" cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr valign="top">
				{% if session.get('konata') == 1 %}<td class="navi" style="text-align:center;" "valign=" middle"
					bgcolor="#6c7bbf">{% else %}

				<td class="navi" style="text-align:center;" "valign=" middle" bgcolor="#320000">{% endif %}
					{% if ('user_id') in session%}
					<font size="-1" face="Comic Sans MS" color="#ffffff">
						<span style="font-size:12"><a style="color: #ffffff"
								href="/id/{{session.get('user_id')}}">profile</a></span></font>
					{%else%}
					<font size="-1" face="Comic Sans MS" color="#ffffff">
						<span style="font-size:12"><a style="color: #ffffff" href="/">homepage</a></span></font>

					{%endif%}
					<font size="-1" face="Comic Sans MS" color="#ffffff"><span style="font-size:12"><a
								style="color: #ffffff" href="/users">users</a></span></font>
					<font size="-1" face="Comic Sans MS" color="#ffffff"><span style="font-size:12"><a
								style="color: #ffffff" href="/users?show=online">online</a></span></font>

					<font size="-1" face="Comic Sans MS" color="#ffffff"><span style="font-size:12"><a
								style="color: #ffffff" href="/users/random">random</a></span></font>

					{% if not ('user_id') in session %}<font size="-1" face="Comic Sans MS" color="#ffffff"><span
							style="font-size:12"><a style="color: #ffffff" href="/auth/login">login</a></span></font>
					<font size="-1" face="Comic Sans MS" color="#ffffff"><span style="font-size:12"><a
								style="color: #ffffff;" href="/auth/register">register</a></span></font>
					{% endif %} {% if('user_id') in session %}
					<font size="-1" face="Comic Sans MS" color="#ffffff"><span style="font-size:12"><a
								style="color: #ffffff;" href="/new">new posts</a></span></font>
					<font size="-1" face="Comic Sans MS" color="#ffffff"><span style="font-size:12"><a
								style="color: #ffffff;" href="/preferences">preferences</a></span> <span
							style="font-size:12"><a style="color: #ffffff;" href="/auth/logout">logout</a></span></font>
					{% endif %}
					<font color="#ffffff">@</font>
					<font size="-1" face="Comic Sans MS" color="#ffffff"><span class="marisaspace_text"
							style="font-size:12"><i>{% if session.get('konata') == 1 %}konataspace{% else
								%}marisaspace{% endif %}</i></span>
					</font>
					{% if ('user_id') in session%}
					{% if notification_counters %}
					{% if notification_counters['blog_comment_approval'] or notification_counters['profile_comment_approval'] %}
					<style>
						.comNotif {
							display: unset;
						}
					</style>
					{%endif %}
					{% if notification_counters['friend_request_approval'] %}
					<style>
						.frNotif {
							display: unset;
						}
					</style>
					{%endif %}
					<a id="friend-counter-a" class="notif frNotif" href="/notifications"><small class="frNotif"
                        id="friend-counter">
                        {% if notification_counters %}
                        {% if notification_counters['friend_request_approval']%}
                        {{notification_counters['friend_request_approval']}} new
                        friend{%if notification_counters['friend_request_approval'] == 1 %}{%else%}s{%endif%}!!
                        {%endif%}
                        {%endif%}
                    </small></a>

					<a id="comment-counter-a" class="notif comNotif" href="/notifications"><small
                        class="comNotif" id="comment-counter">
                        {% if notification_counters %}
                        {% if notification_counters['blog_comment_approval'] or notification_counters['profile_comment_approval']%}
                        {{notification_counters['blog_comment_approval'] + notification_counters['profile_comment_approval']}}
                        new
                        comment{%if notification_counters['blog_comment_approval'] + notification_counters['profile_comment_approval'] == 1 %}{%else%}s{%endif%}!!
                        {%endif%}
                        {%endif%}
                    </small></a>

					<a id="message-counter-a" class="notif msgNotif" href="/notifications"><small
                        class="msgNotif" id="message-counter">
                        {% if notification_counters %}
                        {% if notification_counters['unseen_message']%}
                        {{notification_counters['unseen_message']}} new
                        message{%if notification_counters['unseen_message'] == 1 %}{%else%}s{%endif%}!!
                        {%endif%}
                        {%endif%}
                    </small></a>



					{%endif%}
					{%endif%}

					{% with messages = get_flashed_messages() %}
					{% if messages %}
					<font class="blink" size="-1" face="Comic Sans MS" color="#ffffff"><span style="font-size:12"><b>{%
								for message in messages %}{{ "-- " + message + " -- " }}{% endfor %}</b></span>
					</font>
				</td>
				{% endif %}
				{% endwith %}
			</tr>
		</tbody>
	</table>
</center>
{% block content %}{% endblock %}