<head>

	<link rel="stylesheet" href="{{cdn_uri}}/static/css/classic/style.css">
	<link rel="stylesheet" href="{{cdn_uri}}/usercontent/css/{{properties['id']}}.css">
    {% if ('user_id') in session and notification_counters %}
    <title>
        [{{notification_counters['profile_comment_approval'] + notification_counters['blog_comment_approval'] + notification_counters['friend_request_approval'] + notification_counters['unseen_message']}}]
        ChiyoNET</title>
    {%else%}
    <title>ChiyoNET</title>
    {% endif %}
	<meta name="description" content="welcome to chiyo town" />
	<meta property="og:og:title" content="ChiyoNET Online" />
	<meta property="og:type" content="website" />
	<meta id="interface-type" value="classic">
    <link rel="icon" href="{{cdn_uri}}/static/img/favicon.gif">
	<script type="text/javascript" src="{{ url_for('static', filename='js/notificationPoll.js') }}"></script>
	<meta property="og:description" content="{{properties['username']}} @ ChiyoNET Online" />
	<meta property="og:image" content="{{cdn_uri}}/usercontent/img/rsz/200px/{{properties['id']}}.gif">
	<meta property="og:url" content="https://chiyo.org/id/{{properties['id']}}">
	<meta property="og:site_name" content="ChiyoNET Online" />
</head>
<style>
</style>
<div style="" class="fixed">
	{% extends "classic/navigation.htm" %}
	{% block content %}
	<div class="usercontent">
		<div class="uname">
			<img class="avatar profileavatar" src="{{cdn_uri}}/usercontent/img/raw/{{properties['id']}}.gif">
			<br><br>
			<font color="#ffffff">
				<h2 class="name unameName">{{ properties['username'] }}</h2>
				{% if current_time - properties['lastseen']|int < 300 %}
				<img class="onlineIndicator" src="{{cdn_uri}}/static/img/online_sm.gif">
				{%else%}
				<img class="onlineIndicator" src="{{cdn_uri}}/static/img/offline_sm.gif">
				{%endif%}

			</font>
			<br>
			{% if ('user_id') in session %}
			{% if not session.get('user_id')|int == properties['id']%}
			{% if not session.get('user_id')|int in friends|map(attribute="friend")%}
            <form class="addFriend" action="/id/{{properties['id']}}/add-friend" method="post" novalidate>
                {{friend_form.hidden_tag()}}
                <input id="friend" name="friend" type="submit" value="add as friend!!">
            </form>
            {%else%}
			<a href="/msg/{{properties['id']}}"><input class="pmUser" type="submit" value="pm user!!"></a>            {%endif%}
			{%endif%}
			{%endif%}
			<font color="#ffffff">
				<h4 class="age">{{ properties['age'] }} years old</h4>
			</font>
			<small>
				<font color="#ffffff">
					<h4 class="location">last login: {{ time(properties['lastseen']) }}
				</font>
			</small>
			<audio class="musics" autoplay loop controls
				src="{{cdn_uri}}/usercontent/audio/{{properties['id']}}.ogg"></audio>
		</div>
		<div class="blogs">
			<font color="#ffffff"><u>
					<h2 class="blogh2"><span class="name">{{properties['username']}}</span>'s blogs</h2>
				</u></font>
			{% if session.get('user_id')|int == properties['id'] %}<a href="/id/{{properties['id']}}/blog/new"><button
					style="background-color: black; color: white;">new blogpost</button></a>{% endif %}
			<font color="#ffffff">
				<h4 class="blog_titles"> {% for post in blogposts %}<p><a style="color: white"
							href="/id/{{properties['id']}}/blog/{{post['id']}}">{{ post['title'] }}</a> <small
							class="blogdate">{{ "(" + time(post['date']) + ")" }} </small></p> {% endfor %}</h4>
			</font>
			<div class="friends">
				<font color="#ffffff">{{properties['username']}}'s friends!! - <a href="/id/{{properties['id']}}/friends">view all</a></font>
				<br>
				<center>
				{%if friends%}
				{%for friend in friends[0:5]%}
					<div class="friend">
					<a class="indFriend" href="/id/{{friend['friend']}}"><img width="45px" src="{{cdn_uri}}/usercontent/img/rsz/100px/{{friend['friend']}}.gif"></a>
					<br><font color="#ffffff"><small>{{friend['username']}}</small></font>
					</div>
				{%endfor%}
				{%else%}
				<font color="#ffffff">where'd the friends go?</font>
				{%endif%}
				</center>
				
			</div>
	
		</div>

		<div class="status">
			<h1 class="desutitle" style="color: white;"><u>DESU BOX~</u></h1>
			<marquee direction="left" scrollamount="50">
				<p><span class="desu1" style="color: white;">DESUDESUDESUDESUDESUDESU~~~~</span>
			</marquee>
			</p>
			<p>
				<marquee direction="right" scrollamount="25"><span class="desu2"
						style="color: white;">DESUDESUDESUDESUDESUDESUDESUDESUDESUDESUDESU~~~~</span></marquee>
			</p>
			<p>
				<marquee direction="left" scrollamount="50"><span class="desu3"
						style="color: white;">DESUDESUDESUDESUDESUDESU~~~~</span></marquee>
			</p>
			<p>
				<marquee direction="right" scrollamount="50">
					<h2 class="desu4" style="color: white;">DESUDESUDESUDESUDESUDESU~~~~</h2>
				</marquee>
			</p>
			</p>
		</div>
		<div class="about">
			<p>
				<h1 style="color: white;"><u>About <span class="name">{{properties['username']}}</span></u></h1>
			</p>
			<p class="aboutuser" style="color: white;">
				<font color="#ffffff">{{properties['about']|escape|regex_replace('javascript:','meowmeow:')|markdown}}
			</p>
			</font>
		</div>
		<div class="commentform">
			<h3 class="commenttitle_a" style="color: white"><u>comment</u></h3>{% if ('user_id') in session %}<form
				action="" method="post" novalidate>{{ comment_form.hidden_tag() }} <span
					style="color: white;">{{ comment_form.corpus.label }}</span>
				<div class="commentform_body">{{comment_form.corpus(cols=35, rows=10)}}</div>{{comment_form.submit}}
			</form>{% else %} <h3 class="loginmsg" style="color: white;">you must be logged in to leave a comment!!</h3>
			{% endif %}
		</div>
		<div class="commentbox">
			<h3 class="commenttitle_b" style="color: white;"><u>comments</u> ({{comments|length}})</h3>
			{% for comment in comments %}<div class="comment"><a style="color: white;"
					href="{{'/id/' + comment['authorid'] | string}}"><img
						style="width: 64px; height: 64px; float: left; border-width: 1px;"
						src="https://sys.chiyo.org/usercontent/img/rsz/100px/{{comment['authorid']}}.gif"
						class="avatar commentavatar">
					<h4 class="commentname" style="color: white; float: left; margin-left: 4px; margin-top: 4px;">
						<u>{{ comment['username']  }}</u>
				</a>
				{%if ('user_id' in session)%}
				{% if session.get('user_id')|int == comment['authorid'] or session.get('user_id')|int == properties['id'] %}
				<form class="deleteButton" action="" method="post" novalidate style="float: right; padding-left: 4px;">
					{{delete_form.hidden_tag()}}
					<button style="opacity: 75%; background-color: black; color: white;" name="delete" value="{{comment.id}}" type="submit">delete</button>
				</form>
				{% endif %}{%endif%}</h4>
				<div class="commentbox_top"><small class="commentdate"
						style="float: right; color: white; position: absolute; right: 2px; top: 0px;">({{time(comment['date'])}})</small>
				</div><span
					style="color: white; float: left; margin-left: 4px; margin-top: 0px; position: absolute; left: 66px; top: 24px;">{{comment['corpus']}}</span>
			</div>{% endfor %}
		</div>

	</div>
	<center>
		<font color="white"><span><a style="color:white;" href="/">index</a> //
				{% if session.get('konata') == 1 %}~konataspace~ {% else %}~marisaspace~{% endif %} //
				<font color="white"><span><a style="color:white;" href="/news">news</a></font>
	</center>
</div>
{% if session.get('konata') == 1 %}
<img style="position: absolute; right: 10px; top: 0px; width: 200px; transform: rotate(180deg);"
	src="{{cdn_uri}}/static/img/classic/konata1.gif">
<img style="position: absolute; left: 10px; bottom: 0px; width: 200px;"
	src="{{cdn_uri}}/static/img/classic/konata2.gif">
{% endif %}
{% endblock %}