
  

body {
    font-family: Helvetica;
    color: #281d3b;
    background-color: #fce2ba;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font: bold 120% Helvetica;
    margin: 0px;
    padding: 0px;
}

h2 {
    font: bold 114% Helvetica;
    margin: 0px;
    padding: 0px;
}

h3 {
    font: bold 100% Helvetica;
    text-decoration: underline;
    margin: 0px;
    padding: 0px;
}


form {
    margin: 0;
    padding: 0;
}

#head1 {
    margin: auto;
    margin-bottom: 8px;
    height: auto;
    position: relative;
    overflow: true;
    overflow-x: hidden;
    width: 865px;
}

#container {
    border: 1px solid #281d3b;
    width: 865px;
    background-color: #fce2ba;
    background-image: url("https://sys.chiyo.org/static/img/blinky.gif");
    margin: auto;
    margin-bottom: 8px;
    height: auto;
    position: relative;
    overflow: true;
    overflow-x: hidden;
}

#container a {
    color: green;
}

#pageNav {
    float: right;
    width: 200px;
    padding: 0px;
    border-left: 1px solid #5e5e5e;
    font: small Helvetica;
}

#content {
    padding: 0px 10px 0px 0px;
    margin: 0px 200px 0px 0px;
    border-right: 1px solid #281d3b;
}

#breadCrumb {
    padding: 5px 0px 5px 10px;
    font: small Verdana, sans-serif;
    color: green;
}

#breadCrumb a:hover {
    color: #281d3b;
    text-decoration: underline;
}

.mainContent {
    padding: 0px 0px 10px 10px;
    font-size: 80%;
    height: 200px;
    overflow: hidden;
}

html>body .mainContent {
    height: auto;
}

.mainContent h3 {
    font: bold 175% Helvetica;
}


.blLeft {
    display:table;
}

.blRight {
    width:100%;
}

.tableLeft {
    width: 102px;
}

.tableRight {
    padding: 8px 8px 4px 8px;
}

.tableRight,
.tableLeft {
    background-color: rgba(200, 200, 0, 0.1);
}



#siteInfo {
    text-align: center;
    clear: both;
    border-top: 1px solid #281d3b;
    font-size: small;
    color: #cccccc;
    padding: 10px 10px 10px 10px;
    margin-top: 0px
}

#siteInfo img {
    padding: 4px 4px 4px 0px;
    vertical-align: middle;
}

.relatedLinks {
    margin: 0px;
    padding: 0px 0px 10px 10px;
    border-bottom: 1px solid #281d3b;
}

.relatedLinks.topPadding {
    padding: 10px 0px 2px 0px;
}

.relatedLinks.topBorder {
    border-top: 1px solid #281d3b
}

.relatedLinks h3 {
    padding: 10px 0px 2px 0px;
}

.relatedLinks a {
    display: block;
}


.boxHead {
    background: #b4ce76;
    color: white;
    padding: 3px;
    padding-bottom: 4px;
    padding-left: 6px;
}

.boxHead b {
    color: #281d3b;
    font-size: 15px;
}
@media only screen and (max-width: 865px) {
    /* mobile: */
    #container {
        width:auto;
        margin: 0;
        padding: 0;
    }

    #content {
        margin: 0;
        border-right: none;
    }
    #head1 {
        width:auto;
    }
    .userlist * {
        display: inline-block!important;;
    }

    #pageNav {
        float:unset;
        width: auto;
        border-left: none;
        text-align: center;
    }
    
    .registerRight {
        display: none;
    }
    .registerLeft,.loginLeft {
        text-align:center;
        width:auto!important;
    }

    .messageForm {
        width:auto!important;
    }
    .messageForm * {
        width:auto!important;
    }

    
  }
  