.msgTable {
    min-height:auto;
    width:100%;
    padding: 2px;
    border-collapse: collapse;
}

.inputTd {
    vertical-align: bottom !important;
    height:auto;
}

.timestamp {
    color: red;
}
.relatedLinks a {
    display: unset;
}

.username {
    color: #2e6112;
}

.timestamp:after {
    content: "\00a0";
}

.username:after {
    content: "\00a0";
}

.msg {
    background-color: rgba(200, 200, 0, 0.1);;
}

.msgBox {
    background-color: rgba(200, 200, 0, 0.1);
    padding: 2px;
    max-height:100%;
    overflow:scroll;
    min-height:auto;
}
.msgInput {
    width:90%;
}

.messageForm input {
    background-color: #f5f8e4;
    color: #281d3b;
    margin-top:unset;
}
.inputTr {
    position:sticky;
    top: 0px;

}