#content {
    border: none;
    margin: 0;
}

.onlineCheck, .onlineText {
    float:left;
}
.onlineText {
    margin-top:10px;
}

.userlist {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 30px);
}

.list {
    display: flex !important;
    background-color: rgba(200, 200, 0, 0.1);
    padding-top: 24px;
    padding-bottom: 24px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.usrquery {
    width: 230px;
}

.queryform {
    display: inline-block;
    float:left;
    margin-left: 10px;
}

.userlist p {
    width: 130px;
    margin: 8px 0;
    height: 60px;
    margin-top: 2%;
    display: inline-block;
    overflow-wrap: break-word;
}

#container a {
    color: unset;
}
.userlist p>u,
.userlist p>a,
.userlist img {
    display: block;
    color: green !important;
}

.userlist center {
    margin: 4px;
    justify-content: center;
    display:flex;
    align-items: center;

    height: fit-content;
    background-color: rgba(200, 200, 0, 0.1);
}

.userelement {
    padding: 8px;
}


.userelement span {
    color: #281d3b !important;
    text-decoration: none;
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

.elementtext {
    display: contents;
}

.meow a, .meow span{
    background-color: rgba(200, 200, 0, 0.1);
    padding: 2px;
    display: inline;
}

.meow a {
    animation: ease-in 0.2s rainbow infinite reverse;
}

.userAvi {
    width: 80px;
    float:left;
}

.onlineIndicator{
    width:80px;
}

.userlist #username {
    width: 200px;
    margin-bottom: 8px;
}

.userlist #submit {
    width: 70px;
    margin-bottom: 8px;
}

h3 {
    font-size: large !important;
}

.pagination {
    font-family: battlenet;
    background-color: rgba(200, 200, 0, 0.1);
    list-style-type: none;
    padding: 2px 2px 2px 2px;
    display: flex;
    float: left;
}

.pagination li {
    text-decoration: none;
    display: inline-block;
    color: green;
    border-right: 1px rgba(200, 200, 0, 0.9) solid;
    width: 27px;
}

.pagination * {
    font-size: 130%;
}

.pagination a:hover {
    text-decoration: none;
    opacity: 60%;
}

.next {
    border: none !important;
}

.active  {
    color: #281d3b !important;
}