@keyframes blink_a {
    50% {
        color: red;
    }
}

.blink {
    animation: blink_a 0.5s linear infinite;
}

@keyframes rainbow {
    0% {
        color: pink;
    }

    11% {
        color: orange;
    }

    22% {
        color: yellow;
    }

    33% {
        color: lightgreen;
    }

    44% {
        color: cyan;
    }

    55% {
        color: deepskyblue;
    }

    66% {
        color: mediumslateblue;
    }

    77% {
        color: violet;
    }

    88% {
        color: hotpink;
    }

    100% {
        color: pink;
    }
}

.rainbow {
    animation: rainbow 1s infinite;
}

