#content {
    border: none;
    margin: 0;
}
.registerLeft, .registerRight {
    padding: 8px;
}

.registerLeft {
    width: 220px;
    display: table;
}

.registerRight {
    width: 760px;
}

.propaganda0 {
    width:65%;
    float: right;
}

.cat {
    width: 100%;
}

.registerRight span {
    float: left;
    width: 200px;
}


input {
    width: 195px;
    margin-top: 5px !important;
}

#submit {
    width: 65px;
}

.registerRight h3 {
    display:contents;
}

.abtForm, .cssForm {
    height: 200px;
    min-height:200px;
    resize: none;
}

.prefsSubmit {
    float:right;
    width: 64px;
}