mark {
}

#container a {
	color: #281d3b;
}

.user img {
    margin: 2px;
	float:left;
}

.user span {
    margin-left: 2px;
	margin-right: 4px;
}

.user * {
	margin-left: 2px;
	vertical-align: top;
  }
.user {
    padding: 2px;
    background-color: rgba(200, 200, 0, 0.1);
	vertical-align: top;
    width: auto;
    margin-bottom: 4px;
	display: inline-block;
}




.usrquery {
    width: 230px;
}

.queryform {
    display: inline-block;
    float:left;
    margin-right: 8px;
}

#content {
    border: none;
    margin: 0;
}

.usrquery {
    float:left;
	margin: 0px 2px 0px 0px;
}

.sendquery{
	margin:0;
}


h3 {
    font-size: large !important;
}


.resBox, .usersRes {
	background-color: rgba(200, 200, 0, 0.1);
	padding: 8px;
	position:relative;
}

.resBox {
	min-height:300px;
}

.usersRes {
	height: auto;
	margin-bottom: 8px;
}

.blogResult {
	margin-bottom: 8px;
}

.searchResults .highlightedText {
	text-emphasis: bold;
	color: red;
}

.tableRight p {
	display: inline;
}

.tableRight p b {
	white-space: none;
}
.tableRight {
	width: 100%;
}

.tableLeft {
	display: table;
}

.tableLeft img {
	border: none;
}