{% extends "/layouts/page.html" %}
{% block props %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog/browse.css') }}">
    <link rel="stylesheet" href="{{ cdn_uri }}/usercontent/css/{{ properties['user_id'] }}.css">
    <title>u1traspace - {{ properties["username"] }}'s blogs</title>
{% endblock %}
{% block main %}
    <h3 class="blogs-header header">{{ properties["username"] }}'s blogs:</h3>
    <section class="blogs">
        {% if blogposts %}
            {% for blog in blogposts %}
                <div class="blog-container">
                    <form class="deleteButton delete-button" action="" method="post" novalidate>
                        {{ delete_form.hidden_tag() }}
                        <button name="delete" value="{{ blog['blog_id'] }}" type="submit">delete</button>
                    </form>
                    <a class="blog" href="{{ url_for('user.blog.post', user_id=properties['user_id'], post_id=blog['blog_id']) }}">
                        <div class="blog-header">
                            <span><h4>{{ blog["title"] }}</h4>&nbsp- {{ time(blog["date"]) }}</span>
                        </div>
                        <p>
                            {{ blog["corpus"] }}
                        </p>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}