{% extends "/layouts/page.html" %}
{% block props %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog/new.css') }}">
    <link rel="stylesheet" href="{{ cdn_uri }}/usercontent/css/{{ properties['user_id'] }}.css">
    <title>u1traspace - new blog</title>
{% endblock %}
{% block main %}
    <section class="new-blog">
        <h3>new blog:</h3>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.title(placeholder="title") }}
            {% for error in form.title.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
            {{ form.corpus(placeholder="write your blog here...", oninput="textAreaAdjust(this)", class="comment-input") }}
            {% for error in form.corpus.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
            {{ form.submit() }}
        </form>
    </section>
{% endblock %}