{% extends "base.html" %}
{% block head %}
<title>{{properties['username']}}'s blog @ ChiyoNET ONLINE</title>
<link rel="stylesheet" href="{{cdn_uri}}/static/css/profile.css">
<link rel="stylesheet" href="{{cdn_uri}}/static/css/blogpost.css">
<link rel="stylesheet" href="https://sys.chiyo.org/usercontent/css/{{properties['id']}}.css">

{% endblock %}
{% block body %}
<div id="container">
    <div id="pageNav">
        
        <div class="relatedLinks topPadding">
            <center>
                <h2>DESU BOX~</h2>
            </center>
            <p>
                <marquee direction="left" scrollamount="50"><span class="desu1">DESUDESUDESUDESUDESUDESU~~~~</span>
                </marquee>
            </p>
            <p>
                <marquee direction="right" scrollamount="25"><span
                        class="desu2">DESUDESUDESUDESUDESUDESUDESUDESUDESUDESUDESU~~~~</span></marquee>
            </p>
            <p>
                <marquee direction="left" scrollamount="50"><span class="desu3">DESUDESUDESUDESUDESUDESU~~~~</span>
                </marquee>
            </p>
            <p>
                <marquee direction="right" scrollamount="50"><span class="desu4">DESUDESUDESUDESUDESUDESU~~~~</span>
                </marquee>
            </p>
        </div>
        <div class="relatedLinks">
            <h3>{{ properties['username'] }}'s Blog Posts</h3>
            {%if session.get('user_id')|int == properties['id']%}
                <a class="newPost_a" href="/id/{{properties['id']}}/blog/new"><small class="newPostTxt">new blogpost</small></a>
            {%endif%}
            {% for post in blogposts %}
            <a
                href="{{url_for('blog', user_id=properties['id'], post_id=post['id'])}}">{{post['title']}}</a><small>({{time(post['date'])}})</small>
            {% endfor %}

        </div>


        <div class="relatedLinks">
            <h3>Interact with {{ properties['username'] }}</h3>
            {% if not session.get('user_id')|int == properties['id']%}
            {% if not session.get('user_id')|int in friends|map(attribute="friend")%}
            <form action="/id/{{properties['id']}}/add-friend" method="post" novalidate>
                {{friend_form.hidden_tag()}}
                <input id="friend" name="friend" type="submit" value="add as friend!!">
            </form>
            {%else%}
            <a href="/msg/{{properties['id']}}"><button class="pmUser">PM user</button></a>
            {%endif%}
            {%endif%}
            <a href="{{url_for('blog_list', user_id=properties['id'])}}">View all Blog Posts</a>
            <a href="mailto:admin@chiyo.org">Report user</a>
        </div>

        <div class="player box ">
            <div class="songName">
                <b>Song:</b>
                <span class="songTitle"></span>
                <a href="{{cdn_uri}}/usercontent/audio/{{properties['id']}}.ogg"
                    download="{{properties['username']}}.ogg"><img class="downloadSvg"
                        style="height: 15px; float: right; padding-right: 2px" src="{{cdn_uri}}/static/download.svg"></a>
            </div>
            <audio controls="" autoplay="true"
                src="{{cdn_uri}}/usercontent/audio/{{properties['id']}}.ogg"></audio>
        </div>
        <div class="relatedLinks topBorder">
            <h3>{{ properties['username'] }}'s friends</h3>
            {%for friend in friends[0:8]%}
            <a style="display: inline; padding-right: 4px;" href="/id/{{friend['friend']}}"><img
                    title="{{friend['username']}}" style="width: 32px; height: 32px; border: 1px white solid;"
                    src="{{cdn_uri}}/usercontent/img/rsz/32px/{{friend['friend']}}.gif"></a>
            {%endfor%}
            <a href="/id/{{properties['id']}}/friends">View all friends</a>
        </div>
    </div>
    <div id="content">
        <div id="breadCrumb">
            <p>
                <a href="{{ url_for('user.browse') }}">Users</a>
                /
                <a href="/id/{{properties['id']}}">{{properties['username']}}</a>
                /
                <a href="{{url_for('blog_list', user_id=properties['id'])}}">Blogs</a>
                /
                <a href="#">{{blogpost['title']}}</a>
                /</p>
        </div>

        <div class="mainContent">
            <table summary="" cellspacing="" cellpadding="0">
                <tbody>
                    <tr valign="top"></tr>
                    <tr>
                        <td class="tableLeft blogAvi">
                            <a href="/id/{{properties['id']}}">
                                <div></div><img class="comAvatar"
                                    src="{{cdn_uri}}/usercontent/img/rsz/100px/{{properties['id']}}.gif"
                                    width="100" height="100">
                            </a>
                        </td>
                        <td class="tableRight blogContents">
                            <div>
                                <h3>{{blogpost['title']}}</h3>
                                <span class="subText">
                                    Posted:
                                    <strong>{{time(blogpost['date'])}}</strong>
                                    // Comments:
                                    <strong>{% if comments %}{{comments|length}}{%else%}0{%endif%}</strong>
                                </span>
                                <br></br>
                                <div class="comText">
                                    {% for newline in blogpost['corpus'].split('\n') %}
                                    <span>{{newline|escape|regex_replace('javascript:','meowmeow:')|markdown}}</span><br>
                                    {% endfor %}
                                </div>
                                <br>    
                                {% if session['user_id'] == properties['id']|string %}
                                <form action="" method="post" novalidate>
                                    {{delete_form.hidden_tag()}}
                                    <button name="delete" value="blog"
                                    type="submit">delete</form>
                                </form>
                                {%endif%}
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div class="commentForm">
            <div class="boxHead">
                <b>Leave a comment</b>
            </div>
            <form action="" method="post" novalidate>
                {%if ('user_id') in session%}
                {{ comment_form.hidden_tag() }}{{comment_form.corpus(style='width: 98.8%; height: 100px;')}}
                <br>
                {{comment_form.submit(class="commentPost")}}
                {%else%}
                <h4>please login to leave a comment!</h4>
                {%endif%}
            </form>

        </div>

        <div class="commentdiv">

            <div class="boxHead">
                <b>Comments ({% if comments %}{{comments|length}}{%else%}0{%endif%})</b>
            </div>
            {% if comments %}
            {% for comment in comments %}
            <table class="comment" summary="" cellspacing="" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="tableLeft">
                            <a href="/id/{{comment['authorid']}}">
                                <img class="comAvatar" style="width: 100px;"
                                    src="{{cdn_uri}}/usercontent/img/rsz/100px/{{comment['authorid']}}.gif"></a>
                        </td>
                        <td class="tableRight">
                            <div class="comBox">
                                <p class="comText comInfo"><a
                                        href="/id/{{comment['authorid']}}">{{comment['username']}}</a>
                                    <b>({{time(comment['date'])}})</b>
                                    {% if session['user_id'] == comment['authorid']|string or session['user_id'] == properties['id']|string %}
                                    <form class="deleteButton" action="" method="post" novalidate>
                                        {{delete_form.hidden_tag()}}
                                        <button name="delete" value="{{comment.id}}" type="submit">delete</button>
                                    </form>
                                    {%endif%}
                                    {{comment['corpus']|escape|regex_replace('javascript:','meowmeow:')|markdown}}
                                </p>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            {%endfor%}
            {% else %}
            <h4>no comments here!
            </h4>
            {% endif %}

        </div>
    </div>
    <div id="siteInfo">
        <a href="/">Index</a>
        |
        <a href="mailto:admin@chiyo.org">Mail</a>
        |
        <a href="/news">News</a>
        ⑨ 2004 MARISASPACE</div>

<br>
{% endblock %}