{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{cdn_uri}}/static/css/profile.css">
<link rel="stylesheet" href="{{cdn_uri}}/static/css/friends.css">
<link rel="stylesheet" href="{{cdn_uri}}/usercontent/css/{{properties['id']}}.css?q={{ request.args.get('i') }}">


<div id="container">
    <div id="content">
        <div id="breadCrumb">
            <p><a href="/users">Users</a> / <a href="/id/{{properties['id']}}">{{ properties['username'] }}</a> / <a href="#">Friends</a>
            </p>
        </div>

        <div class="mainContent">
            <div class="userlist">
                <div class="list">
                    {% if friends %}
                    {% for friend in friends %}
                    <center class="userelement"><a href="{{url_for('user.page', user_id=friend['friend'])}}"><img
                                src="{{cdn_uri}}/usercontent/img/rsz/100px/{{friend['friend']}}.gif" class="userAvi"></a>
                        <div class="elementtext">

                            <p><a href="{{url_for('user.page', user_id=friend['friend'])}}">{{friend['username']}}
                                    <span>[{{friend['friend']}}]</span></a>
                                    {% if session.get('user_id')|int == properties['id'] %}
                                    <form method="post" action="/id/{{friend['friend']}}/remove-friend">
                                        {{friend_form.hidden_tag()}}
                                        <button class="deleteFriend" id="friend" name="friend" type="submit" value="remove">remove</button>
                                    </form>
                                    {%endif%}
        
                            </p>
                        </div>
                    </center>
                    {%endfor%}
                    {%else%}
                    <center>where'd the friends go..</center>
                    {%endif%}
                </div>
            </div>

        </div>

        </center>
    </div>
    <div id="siteInfo">
        <a href="/">Index</a> | <a href="mailto:admin@chiyo.org">Mail</a> | <a href="/news">News</a> ⑨ 2004 MARISASPACE
    </div>
</div>

<br>

{% endblock %}