{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{cdn_uri}}/static/css/profile.css">
<link rel="stylesheet" href="{{cdn_uri}}/static/css/userlist.css">

<div id="container">
    <div id="content">
        <div class="mainContent">
            <div class="userlist">
                <center>
                    <div>{{pagination.links}}</div>
                    <form action="{{ url_for('search') }}" method="post" novalidate class="queryform">
                        {{ form.hidden_tag() }}
                        {{form.corpus(class='usrquery')}}
                        <small>
                            {{form.submit(class="sendquery")}}
                        </small>
                    </form>
                    <div class="onlineFilter">
                    {% if request.args.get('show') == 'online'%}
                    <a href="/users"><input type="checkbox" onchange="window.location.href='/users'" class="onlineCheck"
                            checked></a><small class="onlineText">filter by online</small>
                    {%else%}
                    <a href="/users?show=online"><input type="checkbox"
                            onchange="window.location.href='/users?show=online'" class="onlineCheck"
                            unchecked></a><small class="onlineText">filter by online</small>

                    {%endif%}
                    </div>

                </center>
                <br>
                <div class="meow">
                    <span>{{total}} users!!</span> <a href="/users/random"><i>random user</i></a>
                </div>
                <br>
                <div class="list">
                    {% for user in users %}
                    <center class="userelement"><a href="{{url_for('user.page', user_id=user['user_id'])}}"><img
                                src="{{cdn_uri}}/usercontent/img/rsz/100px/{{user['user_id']}}.gif" class="userAvi"></a>
                        <div class="elementtext">

                            <p><a href="{{url_for('user.page', user_id=user['user_id'])}}">{{user['username']}}
                                    <span>[{{user['user_id']}}]</span></a>

                                    {% if current_time - user['last_seen']|int < 300 %}
                                <img class="onlineIndicator" src="{{cdn_uri}}/static/img/online.gif">
                                {%else%}
                                <img class="onlineIndicator" src="{{cdn_uri}}/static/img/offline.gif">
                                {%endif%}
                                <br><small>Last Seen:
                                <br><i>{{time(user['last_seen'])}}</i></small>
                            </p>
                        </div>
                    </center>
                    {%endfor%}
                </div>
            </div>

        </div>

        </center>
    </div>
    <div id="siteInfo">
        <a href="/">Index</a> | <a href="mailto:admin@chiyo.org">Mail</a> | <a href="/news">News</a> ⑨ 2004 MARISASPACE
    </div>
</div>

<br>

{% endblock %}