{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{cdn_uri}}/static/css/notifications.css">

{% endblock %}
{% block body %}
<div id="container">
    <div id="breadCrumb">
        <p> / <a href="#">Notifications</a>
        </p>
    </div>

    <center>
        <div id="content">
            <div class="mainContent">
                <table summary="" cellspacing="" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="tableLeft notifsLeft friendsLeft">
                                <b><u>New Friend Requests:</u></b>
                                <br>
                                <div class="list">
                                    {% if notification_counters['friend_request_approval']%}
                                    {%for notif in notifications%}
                                    {%if notif['type'] == 'friend_request_approval' %}

                                    <center class="userelement"><a
                                            href="{{url_for('user_profile', user_id=notif['actionuserid'])}}"><img
                                                src="{{cdn_uri}}/usercontent/img/rsz/100px/{{notif['actionuserid']}}.gif"
                                                class="userAvi"></a>
                                        <div class="elementtext">

                                            <p><a href="{{url_for('user_profile', user_id=notif['actionuserid'])}}">{{notif['username']}}
                                                    <span>[{{notif['actionuserid']}}]</span></a>
                                                <form class="deleteButton" action="" method="post" novalidate="">
                                                    {{form.hidden_tag()}}
                                                    <button id="action" name="action" class="friendActions"
                                                        type="submit" value="accept,{{notif['id']}}">accept</button>
                                                    <form class="deleteButton" action="" method="post" novalidate="">
                                                        {{form.hidden_tag()}}
                                                        <button id="action" name="action" class="friendActions"
                                                            type="submit" value="reject,{{notif['id']}}">reject</button>
                                                    </form>

                                            </p>
                                        </div>
                                    </center>
                                    {%endif%}

                                    {%endfor%}
                                    {%else%}
                                </div>
                                <small>no new friend requests</small>

                                {%endif%}
            </div>


            </td>
            <td class="tableRight notifsRight">
                <b><u>New Messages:</u></b>
                <br>
                {% if notification_counters['unseen_message']%}
                {%for notif in notifications%}
                {%if notif['type'] == 'unseen_message' %}
                <div class="newMsg">
                    <img src="{{cdn_uri}}/usercontent/img/rsz/32px/{{notif['actionuserid']}}.gif">
                    <span>new message from <b>{{notif['username']}}</b>[{{notif['actionuserid']}}]!!</span>
                    <br><a href="/msg/{{notif['actionuserid']}}">View</a>
                </div> {%endif%}
                {%endfor%}
                {%else%}
                <small>no unseen messages</small>
                {%endif%}

            </td>
            </tr>

            </tbody>
            </table>
            <table summary="" cellspacing="" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="tableLeft notifsLeft">
                            <b><u>New Profile Comments:</u></b>
                            <br>
                            {% if notification_counters['profile_comment_approval']%}
                            {%for notif in notifications%}
                            {%if notif['type'] == 'profile_comment_approval' %}

                            <table class="comment" summary="" cellspacing="" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td class="tableLeft">
                                            <a href="/id/{{notif['actionuserid']}}">
                                                <img class="comAvatar" style="width: 100px;"
                                                    src="{{cdn_uri}}/usercontent/img/rsz/100px/{{notif['actionuserid']}}.gif"></a>
                                        </td>
                                        <td class="tableRight">
                                            <div>
                                                <p class="comText comInfo"><a
                                                        href="/id/{{notif['actionuserid']}}">{{notif['username']}}</a>
                                                    <b>({{time(notif['comment']['date'])}})</b>

                                                </p>
                                                {% if properties['private'] == 1%}
                                                <form class="deleteButton" action="" method="post" novalidate="">
                                                    {{form.hidden_tag()}}
                                                    <button id="action" name="action" type="submit"
                                                        value="accept,{{notif['id']}}">accept</button>
                                                    <form class="deleteButton" action="" method="post" novalidate="">
                                                        {{form.hidden_tag()}}
                                                        <button id="action" name="action" type="submit"
                                                            value="delete,{{notif['id']}}">delete</button>
                                                    </form>
                                                    {%else%}
                                                    <form class="deleteButton" action="" method="post" novalidate="">
                                                        {{form.hidden_tag()}}
                                                        <button id="action" name="action" type="submit"
                                                            value="dismiss,{{notif['id']}}">dismiss</button>
                                                    </form>
                                                    {%endif%}
                                                    <br>{{notif['comment']['corpus']}}
                                                    <p></p>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            {%endif%}
                            {%endfor%}
                            {%else%}
                            <small>no new profile comments</small>
                            {%endif%}


                        </td>
                        <td class="tableRight notifsRight">
                            <b><u>New Blog Comments:</u></b>
                            <br>
                            {% if notification_counters['blog_comment_approval']%}
                            {%for notif in notifications%}
                            {%if notif['type'] == 'blog_comment_approval' %}
                            <table class="comment" summary="" cellspacing="" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td class="tableLeft">
                                            <a href="/id/{{notif['actionuserid']}}">
                                                <img class="comAvatar" style="width: 100px;"
                                                    src="{{cdn_uri}}/usercontent/img/rsz/100px/{{notif['actionuserid']}}.gif"></a>
                                        </td>
                                        <td class="tableRight">
                                            <div>
                                                <p class="comText comInfo"><a
                                                        href="/id/{{notif['actionuserid']}}">{{notif['username']}}</a>
                                                    <b>({{time(notif['comment']['date'])}})</b>
                                                </p>
                                                {% if properties['private'] == 1%}

                                                <form class="deleteButton" action="" method="post" novalidate="">
                                                    {{form.hidden_tag()}}
                                                    <button id="action" name="action" type="submit"
                                                        value="accept,{{notif['id']}}">accept</button>
                                                </form>
                                                <form class="deleteButton" action="" method="post" novalidate="">
                                                    {{form.hidden_tag()}}
                                                    <button id="action" name="action" type="submit"
                                                        value="delete,{{notif['id']}}">delete</button>
                                                </form>
                                                {%else%}
                                                <form class="deleteButton" action="" method="post" novalidate="">
                                                    {{form.hidden_tag()}}
                                                    <button id="action" name="action" type="submit"
                                                        value="dismiss,{{notif['id']}}">dismiss</button>
                                                </form>
                                                {%endif%}

                                                <br><small class="comSubText"><a
                                                        href="/id/{{notif['userid']}}/blog/notif{{'actionpostid'}}">{{notif['blog']['title']}}</a></small>


                                                <br>{{notif['comment']['corpus']}}

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            {%endif%}
                            {%endfor%}

                            {%else%}
                            <small>no new blog comments</small>
                            {%endif%}

                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

</div>
<div id="siteInfo">
    <a href="/">Index</a> | <a href="mailto:admin@chiyo.org">Mail</a> | <a href="/news">News</a> ⑨ 2004
    MARISASPACE
</div>
</div>

<br>
</body>

</html>

{% endblock %}