@font-face {
    font-family: "merchant-copy";
    src: url("/static/font/merchant_copy.ttf") format("truetype");
}

@font-face {
    font-family: "apple-garamond";
    src: url("/static/font/apple_garamond.ttf") format("truetype");
}

@font-face {
    font-family: "lotion";
    src: url("/static/font/lotion.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;

    background-color: #18012D;
    color: #fefefe;
    font-family: "merchant-copy";
}

body {
    font-size: 2rem;
    min-height: 100vh;
}

a {
    all: unset;
    cursor: pointer;
    border-bottom: 1px solid #fefefe;
}

main {
    margin: 3% 5% 3%;
}

form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

form input, form textarea {
    margin-bottom: 20px;
    font-size: 1.5rem;

    background-color: rgba(0,0,0,0.4);
    border: none;
    border-bottom: 1px solid grey;
    color: #fefefe;
    font-family: "lotion";
}

form textarea {
    border: 1px solid grey;
    resize: none;
    padding: 10px;
    height: fit-content;
}

form input::placeholder {
    color: #fefefe;
}

form .error {
    margin: 20px 0;
    color: red;
}

input:disabled, button:disabled, textarea:disabled {
    color: grey !important;
    opacity: 0.6 !important;
    cursor: not-allowed !important;
}

input[type=submit] {
    font-size: 2.5rem;

    font-family: "merchant-copy";
}

input[type=submit], .commentPost {
    width: min-content;
    padding: 5px 10px;

    border: 1px solid grey;
    cursor: pointer;
}

.glNav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 2.5rem;

    border: 2px solid grey;
    background-image: url("/static/img/vortex.gif");
}

.nav-top {
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left a, .nav-middle a {
    margin-right: 20px;
}

.nav-left h1 {
    margin: 0;
}

.nav-middle, .nav-right {
    display: flex;
    align-items: center;
}

.nav-right a {
    margin-left: 20px;
}
