<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if ("user_id") in session and notification_counters %}
        <title>[{{ notification_counters["total_notifications"] }}] u1traspace</title>
    {% else %}
        <title>u1traspace</title>
    {% endif %}
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
{% if 'timezone' not in session %}
    <script type="text/javascript">
        // Send browser's timezone to server for displaying dates/times in local timezone.
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        fetch("/set-timezone", {method: 'POST', body: timezone});
    </script> 
{% endif %}
{% block script %}
{% endblock %}
</html>