{% extends "components/page.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bloglist.css') }}">
    <link rel="stylesheet" href="{{ cdn_uri }}/usercontent/css/{{ properties['user_id'] }}.css">
    <title>u1traspace - {{ properties["username"] }}'s blogs</title>
{% endblock %}
{% block main %}
    <h3 class="blogs-header header">{{ properties["username"] }}'s blogs:</h3>
    <section class="blogs">
        {% if blogposts %}
            {% for blog in blogposts %}
                <div class="blog-container">
                    <a class="blog" href="{{ url_for('user.blog.post', user_id=properties['user_id'], post_id=blog['blog_id']) }}">
                        <span class="blog-header"><h4>{{ blog["title"] }}</h4>&nbsp- {{ time(blog["date"]) }}</span>
                        <p>
                            {{ blog["corpus"] }}
                        </p>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}