{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{cdn_uri}}/static/css/faq.css">

{% endblock %}
{% block body %}
<div id="container">
    <div id="breadCrumb">
        <p> / <a href="#">Chiyo Info!!</a>
        </p>
    </div>

        <div id="content">
            <div class="mainContent">
                    <h3 class="chiyoTitle"><u>Chiyo.org</u></h3> =w= PROBABLY THE BEST WEBSITE IN THE UNIVERSE <b>⑨</b>
                    <br>
                    <span>
                        Well... you've landed yourself in a reaaaal <i>predicament</i> here... haven't ya??<br>
                        CHIYO.org - you don't even squinking know it yet.<br>
                        ...out-a nowhere rises chiyo... tired of stompin' on the grind? you clicked the jackpot now.<br>
                        Chiyo Organization ⑨: Quality Service and Nothin' Else. ATTENTION MINDLESS DRONES: Take a click!<br>
                        Okay. Here's the deal. I'll show ya th' under-the-table, day-to-day dealings. We gotta get law outta the way first<br>
                    </span><br>
                    <h1><u>CHIYO EXTREME LAW</u></h1>
                    <span>
                        RULE 1... be nice.<br>
                        RULE 2...  Goatse is allowed but only on Chiyo Tuesdays.<br>
                        RUL3... no biting.<br>
                        RULE 4...No stealing, please ;)<br>
                        THAT IS ALL.<br>
                        <small>to report abuse on any networks operated by chiyo, contact <a href="mailto:admin@chiyo.org">admin@chiyo.org</a></small><br>
                    </span><br>
                    <h1><u>realfast markdown tutorial</u></h1>
                    <span>
                        Markdown is easy as hell to use... you can use it to format text and insert images into the<br>
                        'about' section on your profile, blog posts and comments. Take a look :)<br>
                        Add two spaces after a line to create a newline<br>
                        <code>*text to make italic*</code> will result in: <i>text to make italic</i><br>
                        <code>**text to make bold**</code> will result in: <b>text to make bold</b><br>
                        URLs are automatically made clickable, however if you would like to change the text displayed<br>
                        on your link, <code>[link text](https://example.com)</code> will work:)<br>
                        <code>![small description of image](https://link-to-image.aa)</code> will result in the image located at <code>https://link-to-image.aa</code><br>
                        being embedded into your post.<br>
                        thats all you really need to know... but if you must know more, take a look at other <a href="https://www.markdownguide.org/cheat-sheet/">markdown guides</a><br>
                        on th' internet.
                    </span>

                    

            </div>

        </div>
        <div id="siteInfo">
            <a href="/">Index</a> | <a href="mailto:admin@chiyo.org">Mail</a> | <a href="/news">News</a> ⑨ 2004
            MARISASPACE
        </div>
</div>

<br>
</body>

</html>

{% endblock %}