<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{cdn_uri}}/static/css/index.css">
    <link rel="icon" href="https://sys.chiyo.org/static/img/favicon.gif">
    <title>ChiyoNET</title>
</head>
<script>
</script>
<body>
    <center>
        <div class="content" style="position: relative;">
            <map name="m">
                <area coords="72,0,130,58" href="/">
                <area coords="131,0,189,58" href="/msg">
                <area coords="414,0,472,58" href="/users">
                <area coords="473,0,531,58" href="javascript:var audio = new Audio('https://sys.chiyo.org/static/etc/st.ogg');audio.play()">
            </map>
            <img class="banner" usemap="#m" src="{{cdn_uri}}/static/img/banner_dark.gif" alt="chiyo" width="600" height="59" border="0">
            <br>
            <table width="600" cellspacing="0" cellpadding="4" border="0">
                <tbody>
                    <tr>
                        <td width="" align="center"></td>
                        <td colspan="3" class="nav" align="left">
                            <b>
                                <i>@ ChiyoNET Online :)</i>
                            </b><br>
                            <a href="/">homepage</a>
                            /
                            <a href="/users">users</a>
                            /
                            <a href="/auth/login">login</a>
                            /
                            <a href="/auth/register">register</a>

                        </td>
                        <td class="search" colspan="3" align="right">
                            <form method="post" action="/search">
                                <input name="p" size="20" placeholder="search posts" type="text" id="corpus" name="corpus">
                                <input type="submit" value="Search">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="newChiyo" style="float:left;">
                <img style="float:left; height:30px;" src="{{cdn_uri}}/static/img/new.gif">
                <span style="float:left;color:#ffb0ef">New!!Chiyo Network 9TH EDITION</span>
                <br><small style="float:left; color:red;"> MKULTRA 2002 edition </small>
                <img style="float:left;; height:20px;" src="{{cdn_uri}}/static/img/globe.gif">

            </div>
            <div class="harrisonPlayer">
                
            <div style="float:right; width: 200px; height:40px; background-color:black; margin-right:8px;">
                <marquee><small style="color:lime;"><i>song for upcoming amazing website marisa space its gonna rool!</i></small></marquee>
                <audio controls="" autoplay="true" style="width:100%;height:20px;background-color:#fff; filter:invert();" src="{{cdn_uri}}/static/etc/themesong.ogg"></audio>
            </div>
            <img class="albumCover" src="{{cdn_uri}}/static/img/cover.jpg">

            </div>



            <table cellspacing="7" cellpadding="2" border="0">
                <tbody>

                    <tr>
                        <td valign="top" align="center">

                            <table width="100%" cellspacing="0" cellpadding="3" border="0">
                                <tbody>
                                    <tr>
                                        <td bgcolor="#17500e" align="center">
                                            <b class="featuredPosts">Featured posts</b>
                                            <small>
                                                ...ramblings and such...</small>
                                            <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td bgcolor="181a1b" align="">
                                                            <table width="100%" cellspacing="0" border="0">
                                                                <tbody class="featured_posts">
                                                                    <tr>
                                                                        <td>
                                                                            <a href="/id/1"><img style="width: 32px;" src="harrison.webp"></a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="/id/1">
                                                                                <b>THE COOLEST BLOG POST EVER... by
                                                                                    Harrison</b>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                                <tbody class="featured_posts">
                                                                    <tr>
                                                                        <td>
                                                                            <a href="/id/1"><img style="width: 32px;" src="https://catland.distin.org/_images/1ea613eac90b6a2202ed4508e65a00e5/4727%20-%20tagme.jpg"></a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="/id/1">
                                                                                <b>the three cats blog</b>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                                <tbody class="featured_posts">
                                                                    <tr>
                                                                        <td>
                                                                            <a href="/id/1"><img style="width: 32px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.G72ewUQHS_iwerUPPlbW4QHaJe%26pid%3DApi&amp;f=1&amp;ipt=8bad466618521d5225666de4e940644db2d14af02b74718adb99851302e2efec&amp;ipo=images"></a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="/id/1">
                                                                                <b>the bleepiest cat</b>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                                <tbody class="featured_posts">
                                                                    <tr>
                                                                        <td>
                                                                            <a href="/id/1"><img style="width: 32px;" src="harrison.webp"></a>
                                                                        </td>
                                                                        <td>
                                                                            <a href="/id/1">
                                                                                <b>THE COOLEST BLOG POST EVER... by
                                                                                    Harrison</b>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <table style="float: left;" cellspacing="0" cellpadding="4" border="0">
                                <tbody>
                                    <tr>
                                        <td valign="top" nowrap="">
                                            <small>
                                                <font size="3" face="arial">
                                                    <b>ChiyoNET on IRC</b><img style="vertical-align:top;" src="{{cdn_uri}}/static/img/swirl.gif">
                                                </font><br>
                                                <span>
                                                    <a href="">web chat for those without a client!</a><br>connect to
                                                    <b>irc.chiyo.org/6697</b> <i>#chiyonet</i> otherwise :)
                                                    <br><br>
                                                </span>
                                            </small>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table style="float: left;" cellspacing="0" cellpadding="4" border="0">
                                <tbody>
                                    <tr>
                                        <td valign="top" nowrap="">
                                            <small>
                                                <font size="3" face="arial">
                                                    <a href="https://boards.chiyo.org">
                                                        <b>boards.chiyo.org</b><img style="vertical-align:top;" src="{{cdn_uri}}/static/img/swirl.gif">
                                                    </a>
                                                </font><br>
                                                <a href="https://boards.chiyo.org/compy/">computerz n such</a>,
                                                <a href="https://boards.chiyo.org/x/">paranormal</a>,
                                                <a href="https://boards.chiyo.org/b/">random</a>,
                                                <a href="https://boards.chiyo.org/dwugs/">drugs</a>,
                                                <a href="https://boards.chiyo.org/nom/">cooking</a><br><br>
                                            </small>
                                            <img src="{{cdn_uri}}/static/img/peanut.gif" style="z-index: 0;position: absolute;bottom: 30px;right: 20px;">
                                        </td>
                                        <td valign="top" nowrap="">
                                            <small>
                                                <font size="3" face="arial">
                                                    <br><br>
                                                </font>
                                            </small>
                                            <font size="3" face="arial">
                                            </font>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <table style="float: left;" cellspacing="0" cellpadding="4" border="0">
                                <tbody>
                                    <tr>
                                        <td valign="top" nowrap="">
                                            <img style="width:100%;" src="/static/img/propaganda/crowd.gif">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </td>
                        <td class="rightTd" width="155" valign="top" bgcolor="2c2f31" align="right">
                            <table class="right" width="100%" cellspacing="1" border="0">
                                <tbody>
                                    <tr>
                                        <td colspan="2" nowrap="" bgcolor="3d3d00" align="center">
                                            <table width="120" cellspacing="0" cellpadding="0" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="center">
                                                            <b>new chiyos</b>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    {%for post in new_posts%}
                                    <tr>
                                        <td valign="top">
                                            <img style="width:28px;max-height:40px;" src="{{cdn_uri}}/usercontent/img/rsz/32px/{{post['authorid']}}.gif">
                                        </td>
                                        <td>
                                            <small>
                                                <a href="/id/{{post['authorid']}}/blog/{{post['id']}}"><b>{{post['title']}}</b></a><small><br>by {{post['username']}}</small>
                                            </small>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                            <center>
                                
                                <video style="width: 150px;" src="{{cdn_uri}}/static/img/chiyid.webm" controls="" muted="" loop="" autoplay="true"></video>
                                <br><br><br><br><br>

                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <p><small>⑨ Chiyo 2000<br></small></p>
        </div>
    </center>


</body></html>