{% extends "base.html" %}
{% block body %}
<link rel="stylesheet" href="{{cdn_uri}}/static/css/profile.css">
<link rel="stylesheet" href="{{cdn_uri}}/static/css/login.css">

<div id="container">
    <div id="breadCrumb">
        <p> / <a href="#">auth</a> / <a href="#">Login</a>
        </p>
    </div>

    <center>
        <div id="content">
            <div class="mainContent">
                <table summary="" cellspacing="" cellpadding="0">
                    <tbody>
                        <tr valign="top">
                        </tr>
                        <tr>
                            <td class="tableLeft loginLeft">
                                <img class="loginImg" src="{{cdn_uri}}/static/img/login.jpg">
                                <form action="" method="post" novalidate="">
                                    {{login_form.hidden_tag()}}
                                    {{login_form.id(type='number', placeholder='user id')}}
                                    {{login_form.password(placeholder='password')}}
                                    {{login_form.submit}}
                                </form>
                                <span>⑨ <span class="loginNote">please login with your user id, not your username. thank you:)</span>
                                </td>
                            <td class="tableRight loginRight">
                                <span>
                                    <img class="cat" src="{{cdn_uri}}/static/img/propaganda/num/{{range(1,3)|random}}.gif">
                                </span>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

    </center>

    <div id="siteInfo">
        <a href="/">Index</a> | <a href="mailto:admin@chiyo.org">Mail</a> | <a href="/news">News</a> ⑨ 2004 MARISASPACE
    </div>
</div>

<br>

{% endblock %}