{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/news.css">

{% endblock %}
{% block body %}
<div id="container">
    <div id="breadCrumb">
        <p> / <a href="#">Messages</a>
        </p>
    </div>

    <center>
        <div id="content">
            <div class="mainContent">
                <div class="newsSubText">
                    <span>recent conversations</span>
                </div>
                <br>
                {% for conversation in conversations %}
                {% if not conversation['id'] == session.get('user_id')|int%}
                {% if conversation['id'] in friends|map(attribute="friend")%}
    
                <table class="comment" summary="" cellspacing="" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="tableLeft">
                                <a href="/id/{{conversation['id']}}">
                                    <img class="comAvatar" style="width: 48px;"
                                        src="{{cdn_uri}}/usercontent/img/rsz/100px/{{conversation['id']}}.gif"></a>
                            </td>
                            <td class="tableRight">
                                <div>
                                    <a href="/msg/{{conversation['id']}}">
                                        {% if loop.index0 % 2 == 0 %}
                                        <img class="rightSpiral" src="/static/img/spinner.png">
                                        {% else %}
                                        <img class="rightSpiral" src="/static/img/spiral_3.gif">
                                        {% endif %}
                                    </a>
                                    <a href="/msg/{{conversation['id']}}"><h2 class="newsPostTitle"><u>{{conversation['username']}}</u></h2></a>
                                    <i>[{{time(conversation['date'])}}] {{conversation['sender_username']}}: {{conversation['corpus']}}</i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    </tbody>
                </table>
                {%endif%}
                {%endif%}
                {% endfor %}
            </div>

        </div>
        <div id="siteInfo">
            <a href="/">Index</a> | <a href="mailto:admin@chiyo.org">Mail</a> | <a href="/news">News</a> ⑨ 2004
            MARISASPACE
        </div>
</div>

<br>
</body>

</html>

{% endblock %}