{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/news.css">

{% endblock %}
{% block body %}
<div id="container">
    <div id="breadCrumb">
        <p> / <a href="#">News</a>
        </p>
    </div>

    <center>
        <div id="content">
            <div class="mainContent">
                <div class="newsSubText">
                    {%if ('user_id') in session %}
                    <div class="friendsFilter">
                        {% if request.args.get('show') == 'friends'%}
                        <a href="/news"><input type="checkbox" onchange="window.location.href='/news'" class="friendsCheck"
                                checked></a><small class="friendsText">only show friends posts</small>
                        {%else%}
                        <a href="/news?show=friends"><input type="checkbox"
                                onchange="window.location.href='/news?show=friends'" class="friendsCheck"
                                unchecked></a><small class="friendsText">only show friends posts</small>
    
                        {%endif%}
                        </div>
                        {%else%}
                        where'ya flyin', chiyochan?
                        {%endif%}
                </div>
                <br>

                {% if new_posts %}
                {% for post in new_posts %}
                <table class="comment" summary="" cellspacing="" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="tableLeft">
                                <a href="/id/{{post['authorid']}}">
                                    <img class="comAvatar" style="width: 48px;"
                                        src="{{cdn_uri}}/usercontent/img/rsz/100px/{{post['authorid']}}.gif"></a>
                            </td>
                            <td class="tableRight">
                                <div>
                                    <a href="/id/{{post['authorid']}}/blog/{{post['id']}}">
                                        {% if loop.index0 % 2 == 0 %}
                                        <img class="rightSpiral" src="/static/img/spinner.png">
                                        {% else %}
                                        <img class="rightSpiral" src="/static/img/spiral_3.gif">
                                        {% endif %}
                                    </a>
                                    <a href="/id/{{post['authorid']}}/blog/{{post['id']}}"><h2 class="newsPostTitle"><u>{{post['title']}}</u></h2></a>
                                    <p class="comText comInfo">by <a
                                            href="/id/{{post['authorid']}}"><b>{{post['username']}}</b></a>
                                        <b>({{time(post['date'])}})</b>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    </tbody>
                </table>
                {% endfor %}
                {%else%}
                <br>
                <h2>where'd the posts go?</h2>

                {%endif%}
            </div>

        </div>
        <div id="siteInfo">
            <a href="/">Index</a> | <a href="mailto:admin@chiyo.org">Mail</a> | <a href="/news">News</a> ⑨ 2004
            MARISASPACE
        </div>
</div>

<br>
</body>

</html>

{% endblock %}