{% extends "components/base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prefs.css') }}">
    <title>u1traspace - preferences</title>
{% endblock %}
{% block body %}
    <div class="prefs-container">
        <nav class="pref-categories">
            <a href="#">appearance</a>
            <a href="#">privacy</a>
            <a href="#">security</a>            
        </nav>
        <form enctype="multipart/form-data" method="post" action="" novalidate>
            {{ form.hidden_tag() }}
            <aside>
                <h2>appearance settings:</h2>
                <label 
                for="avatar-upload"
                class="avatar-upload-label">
                    <span>change avatar</span>
                    <img id="avatar-preview" src="{{ cdn_uri }}/usercontent/img/rsz/200px/{{ properties['user_id'] }}.gif" alt="">
                </label>
                {{ form.avatar(class="avatar-upload", id="avatar-upload") }}
                {{ form.audio(class="hidden") }}
                {{ form.interface }}
                <textarea class="abtForm comment-input" placeholder="about you" id="bio" name="bio" oninput="textAreaAdjust(this)">{{ properties["about"] if properties['about'] == None else "" }}</textarea>
                <textarea class="cssForm css-form comment-input" placeholder="custom page css" id="css" name="css" oninput="textAreaAdjust(this)">{{ properties["css"] }}</textarea>
                <div id="ace"></div>
                {{ form.submit() }}
            </aside>
            <aside class="hidden">
                <h2>privacy settings:</h2>
                {{ form.privacy() }}
                {{ form.submit() }}
            </aside>
        </form>

    </div>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.34.2/ace.js" integrity="sha512-WdJDvPkK4mLIW1kpkWRd7dFtAF6Z0xnfD3XbfrNsK2/f36vMNGt/44iqYQuliJZwCFw32CrxDRh2hpM2TJS1Ew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const avatarPreview = document.getElementById("avatar-preview");
        const avatarUpload = document.getElementById("avatar-upload");
        const cssTextArea = document.getElementById("css");

        cssTextArea.classList.toggle("hidden");
        const editor = ace.edit("ace");
        editor.setTheme("ace/theme/dracula");
        editor.session.setMode("ace/mode/css");
        editor.session.setValue(cssTextArea.value);
        editor.session.on("change", () => {
            cssTextarea.value = editor.session.getValue();
        });
        editor.setOptions({
            maxLines: Infinity
        });

        avatarUpload.addEventListener("change", (event) => {
            const newAvatar = event.target.files[0];
            const fileReader = new FileReader();

            fileReader.onload = (event) => {
                avatarPreview.src = event.target.result;
            }

            fileReader.readAsDataURL(newAvatar);
        });
    </script>
{% endblock %}