{% extends "components/base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prefs.css') }}">
    <title>u1traspace - preferences</title>
{% endblock %}
{% block body %}
    <div class="prefs-container">
        <nav class="pref-categories">
            <span onclick="changeCategory(0)">appearance</span>
            <span href="" onclick="changeCategory(1)">privacy</span>
            <span href="" onclick="changeCategory(2)">security</span>            
        </nav>
        <form enctype="multipart/form-data" method="post" action="" novalidate>
            {{ form.hidden_tag() }}
            <aside class="pref-category {{ 'hidden' if (request.args.get('c') != 'appearance') and request.args.get('c') != None }}" id="appearance">
                <h2>appearance settings:</h2>
                <div class="row">
                    <div class="avatar-upload-container">
                        <label 
                        for="avatar-upload"
                        class="avatar-upload-label">
                            <span>change avatar</span>
                            {% if avatar_uploading %}
                                <img src="{{ cdn_uri }}/static/img/transfer.gif" alt="avatar is being updated">
                            {% else %}
                                <img id="avatar-preview" src="{{ cdn_uri }}/usercontent/img/rsz/200px/{{ properties['user_id'] }}.webp?n={{ range(1, 99999) | random }}" alt="">
                            {% endif %}
                        </label>
                        {{ form.avatar(class="avatar-upload", id="avatar-upload") }}
                    </div>
                    <textarea class="abtForm comment-input" placeholder="write a little about yourself (supports markdown)" id="bio" name="bio" oninput="textAreaAdjust(this)">{{ properties["about"] if properties["about"] else "" }}</textarea>
                </div>
                <div class="row audio">
                    {% if audio_uploading %}
                        <img src="{{ cdn_uri }}/static/img/transfer.gif" alt="audio is being updated">
                        <span>your song is still updating...</span>
                        {{ form.audio(class="audio-upload hidden") }}
                    {% else %}
                        <audio src="{{ cdn_uri }}/usercontent/audio/{{ properties['user_id'] }}.mp3?n={{ range(1, 99999) | random }}" controls></audio>
                        <label for="audio-upload" class="audio-upload-label" id="audio-upload-label">upload song</label>
                        <img class="cancel-audio hidden" id="cancel-audio" src="{{ cdn_uri }}/static/img/x.svg" alt="cancel song upload" onclick="cancelAudioAction()">
                        {{ form.audio(id="audio-upload", class="audio-upload") }}
                    {% endif %}
                </div>
                <label for="css"><h3>custom css:</h3></label>
                <textarea class="hidden" id="css" name="css">{{ properties["css"] if properties["css"] else "" }}</textarea>
                <div id="ace"></div>
                {{ form.submit() }}
                <span class="edit-disclaimer">* your edits may not be visible immediately, try refreshing if your settings haven't updated</span>
                <a class="markdown-help" href="https://www.markdownguide.org/cheat-sheet/" target="_blank" rel="noreferrer noopener">markdown cheat sheet</a>
                <a class="css-help" href="https://www.geeksforgeeks.org/css-cheat-sheet-a-basic-guide-to-css/" target="_blank" rel="noreferrer noopener">css cheat sheet</a>
            </aside>
            <aside class="pref-category {{ 'hidden' if request.args.get('c') != 'privacy' }}" id="privacy">
                <h2>privacy settings:</h2>
                <div class="row">
                    <h3>private account:</h3>
                    <label class="switch">
                        {{ form.privacy(class="private") }}
                        <span class="slider"></span>
                    </label>
                </div>
                {{ form.submit() }}
            </aside>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.34.2/ace.js" integrity="sha512-WdJDvPkK4mLIW1kpkWRd7dFtAF6Z0xnfD3XbfrNsK2/f36vMNGt/44iqYQuliJZwCFw32CrxDRh2hpM2TJS1Ew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/prefs.js') }}"></script>
{% endblock %}