{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{cdn_uri}}/static/css/profile.css">
<link rel="stylesheet" href="{{cdn_uri}}/usercontent/css/{{properties['user_id']}}.css?q={{ request.args.get('i') }}">
<title>{{properties['username']}} @ ChiyoNET Online!!</title>
{% endblock %}
{% block body %}

<style>
.abtText img {
  max-width:100%;
}
</style>

<div id="container">
    <div id="pageNav">
        
        <div class="relatedLinks topPadding">
            <center>
                <h2>DESU BOX~</h2>
            </center>
            <p>
                <marquee direction="left" scrollamount="50"><span class="desu1">DESUDESUDESUDESUDESUDESU~~~~</span>
                </marquee>
            </p>
            <p>
                <marquee direction="right" scrollamount="25"><span
                        class="desu2">DESUDESUDESUDESUDESUDESUDESUDESUDESUDESUDESU~~~~</span></marquee>
            </p>
            <p>
                <marquee direction="left" scrollamount="50"><span class="desu3">DESUDESUDESUDESUDESUDESU~~~~</span>
                </marquee>
            </p>
            <p>
                <marquee direction="right" scrollamount="50"><span class="desu4">DESUDESUDESUDESUDESUDESU~~~~</span>
                </marquee>
            </p>
        </div>
        <div class="relatedLinks">
            <h3>{{ properties['username'] }}'s Blog Posts</h3>
            {%if session.get('user_id')|int == properties['user_id']%}
                <a class="newPost_a" href="/id/{{properties['user_id']}}/blog/new"><small class="newPostTxt">new blogpost</small></a>
            {%endif%}
            {% for post in blogposts %}
            <a
                href="{{url_for('blog', user_id=properties['user_id'], post_id=post['id'])}}">{{post['title']}}</a><small>({{time(post['date'])}})</small>
            {% endfor %}

        </div>


        <div class="relatedLinks">
            <h3>Interact with {{ properties['username'] }}</h3>
            {% if not session.get('user_id')|int == properties['user_id']%}
            {% if not session.get('user_id')|int in friends|map(attribute="friend")%}
            <form action="/id/{{properties['user_id']}}/add-friend" method="post" novalidate>
                {{friend_form.hidden_tag()}}
                <input id="friend" name="friend" type="submit" value="add as friend!!">
            </form>
            {%else%}
            <a href="/msg/{{properties['user_id']}}"><button class="pmUser">PM user</button></a>
            {%endif%}
            {%endif%}
            <a href="{{url_for('blog_list', user_id=properties['user_id'])}}">View all Blog Posts</a>
            <a href="mailto:admin@chiyo.org">Report user</a>
        </div>

        <div class="player box ">
            <div class="songName">
                <b>Song:</b>
                <span class="songTitle"></span>
                <a href="{{cdn_uri}}/usercontent/audio/{{properties['user_id']}}.ogg"
                    download="{{properties['username']}}.ogg"><img class="downloadSvg"
                        style="height: 15px; float: right; padding-right: 2px" src="{{cdn_uri}}/static/download.svg"></a>
            </div>
            <audio controls="" autoplay="true"
                src="{{cdn_uri}}/usercontent/audio/{{properties['user_id']}}.ogg"></audio>
        </div>
        <div class="relatedLinks topBorder">
            <h3>{{ properties['username'] }}'s friends</h3>
            {%for friend in friends[0:8]%}
            <a style="display: inline; padding-right: 4px;" href="/id/{{friend['friend']}}"><img
                    title="{{friend['username']}}" style="width: 32px; height: 32px; border: 1px white solid;"
                    src="{{cdn_uri}}/usercontent/img/rsz/32px/{{friend['friend']}}.gif"></a>
            {%endfor%}
            <a href="/id/{{properties['user_id']}}/friends">View all friends</a>
        </div>
    </div>
    <div id="content">
        <div id="breadCrumb">
            <p><a href="/users">Users</a> / <a href="/id/{{properties['user_id']}}">{{ properties['username'] }}</a> /
            </p>
        </div>
        <div class="mainContent">
            <table summary="" cellspacing="" cellpadding="0">
                <tbody>
                    <tr valign="top">
                    </tr>
                    <tr>
                        <td class="tableLeft mcLeft">
                            <a href="{{cdn_uri}}/usercontent/img/raw/{{properties['user_id']}}.gif">
                                <div></div><img class="comAvatar"
                                    src="{{cdn_uri}}/usercontent/img/raw/{{properties['user_id']}}.gif" width="200"
                                    height="auto">
                            </a>
                        </td>
                        <td class="tableRight mcRight">
                            {%if session.get('user_id')|int == properties['user_id']%}
                                <a href="/preferences"><small class="prefsTxt">edit profile</small></a>
                            {%endif%}
                            <div>
                                <h3 class="mcUsername">{{properties['username']}}</h3>
                                {% if current_time - properties['last_seen']|int < 300 %}
                                <img class="onlineIndicator" src="{{cdn_uri}}/static/img/online.gif">
                                {%else%}
                                <img class="onlineIndicator" src="{{cdn_uri}}/static/img/offline.gif">
                                {%endif%}
    
                                <br> 
                                    <span class="subText">UserID:
                                    <strong>{{ properties['user_id'] }}</strong> // Page Views:
                                    <strong>{{properties['page_views']}}</strong> // Last Seen:
                                    <strong>{{time(properties['last_seen'])}}</strong></span>

                                <h2>About {{ properties['username'] }}:</h2>
				<div class="abtText">
                                {{ properties['about']|escape|regex_replace('javascript:','meowmeow:')|markdown}}
				</div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

        <div class="commentForm">
            <div class="boxHead">
                <b>Leave a comment</b>
            </div>
            <form action="" method="post" novalidate>
                {%if ('user_id') in session%}
                {{ comment_form.hidden_tag() }}{{comment_form.corpus(style='width: 99.2%; height: 100px;')}}
                <br>
                {{comment_form.submit(class="commentPost")}}
                {%else%}
                <h4>please login to leave a comment!</h4>
                {%endif%}
            </form>
        </div>

        <div class="commentdiv">
            <div class="boxHead">
                <b>Comments ({{comments|length}})</b>
            </div>
            {% for comment in comments %}
            <table class="comment" summary="" cellspacing="" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="tableLeft">
                            <a href="/id/{{comment['authorid']}}">
                                <img class="comAvatar" style="width: 100px;"
                                    src="{{cdn_uri}}/usercontent/img/rsz/100px/{{comment['authorid']}}.gif"></a>
                        </td>
                        <td class="tableRight">
                            <div>
                                <span class="comText comInfo"><a
                                        href="/id/{{comment['authorid']}}">{{comment['username']}}</a>
                                    <b>({{time(comment['date'])}})</b>
                                    {% if session['user_id'] == comment['authorid']|string or session['user_id'] == properties['user_id']|string %}
                                    <form class="deleteButton" action="" method="post" novalidate>
                                        {{delete_form.hidden_tag()}}
                                        <button name="delete" value="{{comment.id}}" type="submit">delete</button>
                                    </form>
                                    {%endif%}
                                    <span>{{comment['corpus']|escape|regex_replace('javascript:','meowmeow:')|markdown}}</span>
                                </span>

                            </div>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            <br>

        </div>
    </div>
    <div id="siteInfo">
        <a href="/">Index</a> | <a href="mailto:admin@chiyo.org">Mail</a> | <a href="/news">News</a> ⑨ 2004 MARISASPACE
    </div>
</div>

<br>

{% endblock %}
