{% extends "/layouts/list.html" %}
{% block props %}
    <meta name="description" content="the rules that all users of u1traspace must abide by. please read these before making an account.">
    <meta property="og:title" content="u1traspace - rules">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url_for('rules', _external=True, _scheme='https') }}">
    <link rel="canonical" href="{{ url_for('rules', _external=True, _scheme='https') }}">
    <title>u1traspace - rules</title>
{% endblock %}
{% block top %}
    <h2>rules:</h2>
{% endblock %}
{% block content %}
    <h3>you should:</h3>
    <ul>
        <li>be respectful of others and mindful of the power your words can hold.</li>
        <li>use your page as a method of expressing your creativity.</li>
    </ul>
    <h3>you should NOT:</h3>
    <ul>
        <li>post content which violates the national laws of where this site is based (United Kingdom).</li>
        <li>behave in a racist, sexist, xenophobic, homophobic, transphobic (or any other such -ist or -phobic) manner.</li>
        <li>insult or provoke other users.</li>
        <li>spam the site (spam posts, spam comments, or spam accounts).</li>
        <li>attempt to compromise the security of the site or other users.</li>
    </ul>
    <p>while not a strict rule, please also be aware that serious political discussion is generally discouraged; this is a site for self-expression and fun, not flame wars. if you want to have a political debate then go use twitter.</p>
    <p>admins reserve the right to ban any user, or delete any post or comment.</p>
    <span>if you wish to report something, please email us at <a href="mailto:abuse@u1trav101.net">abuse@u1trav101.net</a></span>
{% endblock %}