{% extends "components/base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
    {% if ("user_id") in session and notification_counters %}
        <title>[{{ notification_counters["total_notifications"] }}] u1traspace - users</title>
        {% else %}
        <title>u1traspace - users</title>
    {% endif %}
{% endblock %}
{% block body %}
    {% for user in users %}
        <a href="{{ url_for('user_profile', user_id=user['user_id']) }}" class="user">
            <img src="{{ cdn_uri }}/usercontent/img/rsz/200px/{{ user['user_id'] }}.gif" alt="{{ user['username'] }}">
            <span>{{ user['username'] }}</span>
        </a>
    {% endfor %}
{% endblock %}