<!DOCTYPE html>
<html lang="en">
<head>
                     <!--                                             
               _   _/ | |_ _ __ __ _ ___ _ __   __ _  ___ ___            
              | | | | | __| '__/ _` / __| '_ \ / _` |/ __/ _ \           
              | |_| | | |_| | | (_| \__ \ |_) | (_| | (_|  __/           
     _____ ____\__,_|_|\__|_|  \__,_|___/ .__/ \__,_|\___\___|____ _____ 
    |_____|_____|                       |_|                 |_____|__-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/base.css') }}">
    <link rel="shortcut icon" href="{{ cdn_uri }}/static/favicon.gif" type="image/x-icon">
    <script type="text/javascript" src="{{ url_for('static', filename='js/notificationPoll.js') }}"></script>
    {% block head %}
    {% endblock %}
    <style>
        html, body {
            display: block !important;
        }
    </style>
</head>
<body>
    <div id="head1">
        <header>
            <nav class="navbar glNav">
                <div class="nav-top">
                    <div class="nav-left">
                        <a href="{{ url_for('index') }}"><h1>u1traspace</h1></a>
                        <a href="{{ url_for('user_list') }}">users</a>
                        <a href="{{ url_for('search') }}">search</a>                        
                    </div>
                    {% if ("user_id") in session %}
                    <div class="nav-middle">
                        <a href="{{ url_for('user.page', user_id=session['user_id']) }}">profile</a>
                        <a href="{{ url_for('user.friends', user_id=session['user_id']) }}">friends</a>
                        <a href="{{ url_for('message.browse') }}">messages</a>
                    </div>
                {% endif %}
                    <div class="nav-right">
                        {% if ("user_id" in session) %}
                            <a href="{{ url_for('auth.logout') }}">logout</a>
                        {% else %}
                            <a href="{{ url_for('auth.login') }}">login</a>
                            <a href="{{ url_for('auth.register') }}">register</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <main>
        {% block body %}
        {% endblock %}
    </main>
</body>
<script>
    // automatically adjusts the height of textarea elements to match their content
    const textAreaAdjust = (element) => {
        element.style.height = "auto";
        element.style.height = element.scrollHeight - 20 + "px";
    }

    const elements = document.getElementsByClassName("comment-input");
    for (let i in elements) {
        textAreaAdjust(elements[i]);
    }    
</script>
{% if "timezone" not in session %}
    <script>
        // send browser's timezone to server for displaying dates/times in local timezone
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        fetch("/set-timezone", {method: 'POST', body: timezone});
    </script> 
{% endif %}
{% block script %}
{% endblock %}
</html>