{% extends "/layouts/form.html" %}
{% block props %}
    <title>u1traspace - login</title>
{% endblock %}
{% block main %}
    <h2 class="glitch" data-text="login:">login:</h2>
    <form action="" method="post" novalidate>
        {{ forms.login.hidden_tag() }}
        {{ forms.login.email(placeholder="email") }}
        {{ forms.login.password(placeholder="password") }}
        {{ forms.login.submit() }}
    </form>
    <span class="redirect">don't have an account? sign up <a href="{{ url_for('auth.register') }}">here</a></span>
{% endblock %}