{% extends "/layouts/page.html" %}
{% block props %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/friends.css') }}">
    <link rel="stylesheet" href="{{ cdn_uri }}/usercontent/css/{{ properties['user_id'] }}.css">
    <title>u1traspace - {{ properties["username"] }}'s friends</title>
{% endblock %}
{% block main %}
    <h3 class="friends-header header">{{ properties["username"] }}'s friends:</h3>
    {% if ("user_id") in session and (session["user_id"] | int == properties["user_id"]) and friend_requests %}
        <h4>friend requests:</h4>
        <section class="pending">
            {% for friend in friend_requests %}
                <a class="user" href="{{ url_for('user.page', user_id=friend['user_id']) }}">
                    <object 
                    data="{{ cdn_uri }}/usercontent/img/rsz/200px/{{ friend['user_id'] }}.webp" 
                    type="image/webp"
                    aria-label="{{ friend['username'] }}"
                    width="200"
                    height="200">
                        <img src="{{ cdn_uri }}/usercontent/img/rsz/200px/default.webp" alt="{{ friend['username'] }}">
                    </object>
                    <span>{{ friend["username"] }}</span>
                    <div class="actions">
                        <form action="{{ url_for('user.add_friend', user_id=friend['sender_id']) }}" method="post" novalidate>
                            {{ forms.friend.hidden_tag() }}
                            <input id="friend" name="friend" type="submit" value="approve">
                        </form>
                        <form action="{{ url_for('remove_friend', user_id=friend['sender_id']) }}" method="post" novalidate>
                            {{ forms.friend.hidden_tag() }}
                            <input id="friend" name="friend" type="submit" value="deny">
                        </form>
                    </div>
                </a>
            {% endfor %}
        </section>
    {% endif %}
    {% if friends %}
        <section class="friends">
            {% for friend in friends %}
                <div class="user friend">
                    <a href="{{ url_for('user.page', user_id=friend['user_id']) }}">
                        <object 
                        data="{{ cdn_uri }}/usercontent/img/rsz/200px/{{ friend['user_id'] }}.webp" 
                        type="image/webp"
                        aria-label="{{ friend['username'] }}"
                        width="200"
                        height="200">
                            <img src="{{ cdn_uri }}/usercontent/img/rsz/200px/default.webp" alt="{{ friend['username'] }}">
                        </object>
                        <span>{{ friend["username"] }}</span>
                    </a>
                    {% if ("user_id") in session and session["user_id"] | int == properties['user_id'] %}
                        <form action="{{ url_for('remove_friend', friend_id=friend['friend_id']) }}" method="post" novalidate>
                            {{ forms.friend.hidden_tag() }}
                            <input id="friend" name="friend" type="submit" value="unfriend">
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}