{% extends "/layouts/page.html" %}
{% block props %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/page.css') }}">
    <link rel="stylesheet" href="{{ cdn_uri }}/usercontent/css/{{ properties['user_id'] }}.css">
    <title>u1traspace - {{ properties["username"] }}</title>
{% endblock %}
{% block main %}
    <section class="about">
        <h3>about {{ properties['username'] }}:</h3>
        {% if properties["about"] %}
            <p>{{ properties['about'] | escape | regex_replace("javascript:", "javashcript:") | markdown | safe }}</p>
        {% else %}
            <p>nothing to see here... yet!</p>
            <img src="{{ cdn_uri }}/static/img/construction.gif" alt="under construction" style="width: 200px;">
        {% endif %}
    </section>
    <div class="profile-bottom">
        <section class="comments">
            <h4 class="header number-of-comments">{{ comments | length if comments else 0 }} comments:</h4>
            {% if comments %}
                {% for comment in comments %}
                    <div class="comment">
                        <a href="{{ url_for('user.page', user_id=comment['author_id']) }}">
                            <img class="avatar {{ 'online' if current_time - comment['last_seen'].timestamp() | round | int <= 300 }}" src="{{ cdn_uri }}/usercontent/img/rsz/100px/{{ comment['author_id'] }}.webp" alt="{{ comment['username'] }}">
                        </a>
                        <div class="comment-container">
                            <div class="comment-top">
                                <a href="{{ url_for('user.page', user_id=comment['author_id']) }}">
                                    <h5>{{ comment["username"] }}</h5>
                                </a>
                                <span>{{ time(comment["date"]) }}</span>
                                {% if session["user_id"] == comment["author_id"] | string or session["user_id"] == properties["user_id"] | string %}
                                    <form class="deleteButton delete-button" action="" method="post" novalidate>
                                        {{delete_form.hidden_tag()}}
                                        <button name="delete" value="{{ comment['comment_id'] }}" type="submit">delete</button>
                                    </form>
                                {%endif%}
                            </div>
                            <div class="comment-corpus">
                                <p>
                                    {{ comment["corpus"] | escape | regex_replace('javascript:','javashcript:') | markdown | safe }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </section>
        <section class="profile-bottom-right">
            <div class="top">
                <div class="commentForm">
                    <form action="" method="post" novalidate>
                        {% if ('user_id') in session %}
                            {{ comment_form.hidden_tag() }}
                            {{ comment_form.corpus(placeholder="leave a comment...", class="comment-input", oninput="textAreaAdjust(this)")}}
                            {{ comment_form.submit(class="commentPost", id="commentPost", value=" ") }}
                        {% else %}
                            <textarea class="comment-input" placeholder="please login to leave a comment" disabled></textarea>
                            <input type="submit" value="&nbsp;" disabled>
                        {% endif %}
                    </form>
                </div>
                <div class="interaction">
                    {% if (session.get("user_id") != None) and (session.get("user_id") | int != properties["user_id"] | int) %}
                        {% if not session.get('user_id') | int in friends | map(attribute="recipient_id")%}
                            <form action="{{ url_for('user.add_friend', user_id=properties['user_id']) }}" method="post" novalidate>
                                {{friend_form.hidden_tag()}}
                                <input id="friend" name="friend" type="submit" value="send friend request">
                            </form>
                            <button disabled>message</button>
                        {% else %}
                            <button disabled>send friend request</button>
                            <a href="{{ url_for('user.add_friend', user_id=properties['user_id']) }}">
                                <button class="pmUser">message</button>
                            </a>
                        {% endif %}
                    {% else %}
                        <button disabled>send friend request</button>
                        <button disabled>message</button>
                    {% endif %}
                    {% if session.get("user_id") | int != properties["user_id"] | int %}
                        <a href="mailto:admin@u1trav101.net?subject=Report user {{ properties['username'] }} (UUID={{ properties['user_id'] }})">
                            <button>report user</button>
                        </a>
                    {% else %}
                        <button disabled>report user</button>
                    {% endif %}
                </div>
                <div class="songName">
                    <h4 class="songTitle">{{ properties['username'] }}'s song:</h4>
                    <audio 
                        src="{{ cdn_uri }}/usercontent/audio/{{ properties['user_id'] }}.mp3"
                        download="{{ properties['username'] }}.mp3"
                        controls=""
                        autoplay="true">
                    </audio>
                </div>
            </div>
            {% if blogposts %}
                <div class="blogs">
                    <h4>{{ properties['username'] }}'s blogs:</h4>
                    {% for blog in blogposts %}
                        <a class="blog-preview" href="{{ url_for('user.blog.post', user_id=properties['user_id'], post_id=blog['blog_id']) }}">
                            <h5>{{ blog["title"] | truncate(40) }}</h5>&nbsp- {{ time(blog["date"]) | string }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
{% endblock %}
